.header{
	padding: 5px 0;
	color: #fff;
	border-bottom: 1px solid #929292;
	position: fixed;
	z-index: 9999;
	width: 100%;
	#header-wrapper{
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr auto;
		.header-block-left{
			.logo{
				a{
					display: grid;
					img{
						display: inline-block;
						align-self: center;
						border-radius: 3px;
					}
				}
			}
		}
		.header-block-midle{
			justify-self: end;
			align-self: center;
			margin-right: 40px;
			display: grid;
			grid-template-columns: auto auto;
			p{
				text-align: right;
				color: #475993;
				line-height: 16px;
				align-self: center;
			}
			a{
			display: grid;
				img{
					align-self: center;
					width: 30px;
					height: 30px;
					margin-left: 10px;
					transition: .1s;
					&:hover{
						transform: scale(1.2);
					}
				}						
			}
		}
		.header-block-right{
			text-align: right;
			display: grid;
			.block-tel{
				align-self: center;
				display: inline-grid;
				grid-column-gap: 20px;
				a{
					color: #fff;
					display: block;
					font-size: 17px;
					transition: .2s;
					&:hover{
						font-weight: bold;
						text-decoration: underline;
					}
				}
			}
		}
	}
}