.header{
	padding: 5px 0;
	color: #fff;
	border-bottom: 2px solid red;
	position: fixed;
	z-index: 9999;
	width: 100%;
	#header-wrapper{
		display: grid;
		align-items: center;
		grid-template-columns: 1fr auto 1fr auto;
		.logo{
			a{
				display: grid;
				img{
					display: inline-block;
					align-self: center;
					border-radius: 3px;
				}
			}
		}
		.links-pizzas-drinks{
			display: grid;
			grid-template-columns: auto auto;
			grid-column-gap: 16px;
			align-items: center;
			a{
				display: grid;
				grid-template-columns: auto auto;
				align-items: center;
				&:hover img{
					transform: scale(1.2);
				}
				p{
					width: 80px;
					text-align: right;
					margin-right: 6px;
					font-family: 'Indie Flower', cursive;
					line-height: 14px;
					font-weight: normal;
				}
				img{
					transition: all .2s;
					height: 50px;
					width: auto;
				}
			}
		}
		.block-social{
			justify-self: end;
			align-self: center;
			margin-right: 40px;
			a{
				display: grid;
				grid-template-columns: auto auto;
				align-items: center;
				&:hover img{
					transform: scale(1.2);
				}
				p{
					font-family: 'Indie Flower', cursive;
					text-align: right;
					color: #475993;
					line-height: 16px;
					align-self: center;
					user-select: none;
				}
				img{
					width: 30px;
					height: 30px;
					margin-left: 10px;
					transition: .1s;
				}							
			}
		}
		.block-tel{
			display: grid;
			align-self: center;
			display: inline-grid;
			grid-column-gap: 20px;
			a{
				color: #fff;
				display: block;
				font-size: 17px;
				transition: .2s;
				&:hover{
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}
	}
}