.top-strip{
	background-color: #232f3e;
	padding: 6px;
   	border-bottom: 2px solid #f90;
   	text-align: center;
   	position: fixed;
   	width: 100%;
   	h1{
		color: #fff;
	    font-weight: 600;
	    font-size: 12px;
   	}
}
.middle-strip{
	background-color: #232f3e;
	.wrapper-header{
		display: flex;
		align-items: center;
		max-width: 800px;
		margin: 0 auto;
		padding: 40px 0 8px;
		justify-content: space-between;
	}
}
.bottom-strip{
	background-color: #EEEEEE;
	border-bottom: 1px solid #ccc;
	.wrapper-header{
		margin: 0 auto;
		max-width: 800px;
		h2{
			padding: 6px 0;
			font-size: 1.05em;
			color: #111;
			font-weight: normal;
			display: inline-block;
			border-bottom:2px solid #ff9900;
		}
	}
}