@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: tahoma, arial, sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ========CONTAINER-GRID======== */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 860px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
} 
@media (min-width: 1300px) {
  .container {
    max-width: 1230px;
  }
}


#wrapper{
	max-width: 1920px;
	margin: 0 auto;
}
#header{
	position: relative;
	background: url(../imgs/bg-header.jpg) no-repeat center;
	width: 100%;
	-webkit-background-size: contain;
	background-size: cover;
	display: inline-block;
	min-height: 842px;
}
.img-leftPanel{
	position: absolute;
	background: url(../imgs/img-leftPanel.png) no-repeat;
	width: 316px;
	height: 100%;
	left: 0;
}
.img-rightPanel{
	position: absolute;
	background: url(../imgs/img-RightPanel.png) no-repeat;
	width: 316px;
	height: 100%;
	right: 0;
}
.left{
	display: inline-block;
	width: 100%;
}
.logo-header{
	width: 156px;
	height: 119px;
	display: inline-block;
}

/* ==============section-our-products===================== */

.section-our-products{
	padding: 50px 0;
	display: inline-block;
	background: #fff;
	width: 100%;
}
.title-our-products{
	display: inline-block;
	width: 100%;
	background: url(../imgs/wave.png);
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;
	/* outline: 2px dashed red; */
}
.title-our-products h2{
	display: inline-block;
	padding: 0 20px;
	background: #fff;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}

/* ==============section-request-call-back================== */

.img-frame-white-top{
	background: url(../imgs/frame-white-top.png);
	height: 12px;
	margin-bottom: -10px;
	position: relative;
	z-index: 10;
}
.section-request-call-back{
	background: #35a629;
	position: relative;
}
.img-wave-bg{
	background: url(../imgs/smooth-wave-bg.png);
	width: 100%;
	padding: 55px 0;
}
.button-request-call-back{
	width: 100%;
	text-align: center;
}
.button-request-call-back a{
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	padding: 18px 35px;
	background: #47f019;
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 0 80px rgba(69,231,24,1);
}
.img-seaweed{
	background: url(../imgs/seaweed.png);
	width: 286px;
	height: 151px;
	position: absolute;
	bottom: 0;
}

/* =============section-profitable================ */

.img-frame-gray-top{
	background: url(../imgs/frame-gray-top.png);
	height: 12px;
	position: relative;
	margin-top: -11px;
}
.img-frame-gray-bottom{
	background: url(../imgs/frame-gray-bottom.png);
	height: 12px;
}
.section-profitable{
	background: #f4f4f4;
	padding-top: 20px;
	padding-bottom: 70px;
	position: relative;
}
.title-profit{
	display: inline-block;
	width: 100%;
	background: url(../imgs/wave.png);
	text-align: center;
	background-repeat: repeat-x;
	background-position: center;
	margin-top: 40px;
}
.title-text-h2{
	background: #f4f4f4;
	display: inline-block;
	padding: 0 20px;
	text-align: center;
	position: relative;
	z-index: 10;
}
.img-leafe{
	background: url(../imgs/leafe.png) no-repeat center;
	width: 87px;
	height: 90px;
	position: absolute;
	z-index: -10;
	top: -30px;
	right: -25px;
}
.title-profit h2{
	font-size: 36px;
	text-transform: uppercase;
}
.block-profit{
	display: inline-block;
	width: 100%;
	margin: 30px 0 80px;
}
.block-profit-left{
	display: inline-block;
	float: left;
	width: 50%;
	padding-right: 10px;
}
.block-profit-left h3{
	font-size: 36px;
	color: #000;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.block-profit-left h3 span{
	color: #35a629;
}
.block-profit-left p{
	font-size: 16px;
	padding-right: 10px;
}
.block-profit-left .phone {
	font-size: 24px;
	font-weight: bold;
}
.block-profit-left .phone  span{
	color: #35a629;
	font-size: 24px;
}
.block-profit-right{
	width: 50%;
	display: inline-block;
	float: left;
}
.profit-right-prices{
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}
.profit-right-prices img{
	display: inline-block;
	float: left;
	width: 80px;
	margin-right: 30px;
}
.profit-right-prices p{
	margin-top: 20px;
	font-weight: bold;
}
span.profit-price{
	color: #35a629;
	padding-top: 10px;
	display: inline-block;
}
span.profit-mass{
	color: #b0b0b0;
}
.button-order-now {
	direction: 
	width: 100%;
	margin: 0 auto;
	text-align: center;
	
}
.button-order-now a{
	display: inline-block;
	text-transform: uppercase;
	border-radius: 50px;
	background: #35a629;
	padding: 15px 25px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}

/* =============section-pellets================ */

.title-pellets{
	display: inline-block;
	width: 100%;
	background: url(../imgs/wave.png);
	text-align: center;
	background-repeat: repeat-x;
	background-position: center;
	/* outline: 2px dashed red; */
	margin-top: 40px;
}
.title-pellets h2{
	display: inline-block;
	padding: 0 20px;
	background: #fff;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}
.main-block-pellets{
	display: inline-block;
	width: 100%;
	margin: 30px 0 80px;
	/* outline: 2px solid red; */
}
.block-text-pellets{
	display: inline-block;
	float: left;
	width: 33%;
	height: 370px;
	/* outline: 2px dashed yellow; */
	padding-top: 120px;
}
.block-text-pellets p{
	/* background: #ccc; */
	font-size: 16px;
}
.img-pellets-bags{
	background: url(../imgs/pellets-bags.png) no-repeat center;
	background-size: contain;
	display: inline-block;
	width: 34%;
	height: 479px;
	/* outline: 2px dashed yellow; */
	float: left;
	/* margin-left: 5px; */
}
.block-list{
	display: inline-block;
	width: 33%;
	/* outline: 2px dashed yellow; */
	padding-top: 120px;
	padding-left: 20px;
}
ul.merits li{
	list-style: disc;
}
/* ============section-feedback=============== */

.section-feedback .container{
	background: url(../imgs/img-fon+0.png) no-repeat center;
	background-position: 60px 20px;
}
.section-feedback{
	display: inline-block;
	background: #35a629;
	width: 100%;
	padding-bottom: 65px;
	text-align: center;
}
.title-feedback{
	display: inline-block;
	width: 100%;
	background: url(../imgs/section-feedback-frame.png);
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;
	margin-top: 70px;
}
.title-feedback h2{
	display: inline-block;
	padding: 0 20px;
	background: #35a629;
	color: #fff;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}
.img-drop-white{
	background: url(../imgs/img-drop-white.png) no-repeat center;
	height: 32px;
	width: 100%;
	margin-top: 20px;
}
.text-feedback{
	max-width: 850px;
	margin: 30px auto 0;
}
.text-feedback p{
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.section-feedback .slider{
	display: inline-block;
	width: 100%;
	margin: 50px auto 50px 20px;
	text-align: center;
}
.section-feedback .slide{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
.section-feedback .slide img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	float: none;
}
.slick-prev{
    background: #45bb35;
	width: 60px;
    height: 60px;
    border-radius: 50px;
    padding-top: 10px;
    box-shadow: -5px 15px 20px rgba(0,0,0,.6);
    border: 1px solid #aaa;
    z-index: 10;
}
.slick-next{
    background: #45bb35;
	width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 10px 0 0 5px;
    box-shadow: -5px 15px 20px rgba(0,0,0,.6);
    border: 1px solid #aaa;
}
.slick-prev:before {
    content: "\2039";
    font-size: 40px;
}
.slick-next:before{
	content: "\203a";
	font-size: 40px;
}
.button-show-more a{
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	padding: 18px 35px;
	background: #47f019;
	border-radius: 50px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.img-frame-wave-top{
	background: url(../imgs/frame-wave-top.png);
	width: 100%;
	height: 16px;
	position: relative;
	margin-top: -17px;
	margin-bottom: -1px;
}
.img-frame-wave-bottom{
	background: url(../imgs/frame-wave-bottom.png);
	width: 100%;
	height: 17px;
	margin-top: -2px;
}
/* =============section-our-production============== */

.section-our-production{
	display: inline-block;
	background: #fff;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 65px;
}
.title-our-production{
	display: inline-block;
	width: 100%;
	background: url(../imgs/wave.png);
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;
}
.title-our-production h2{
	display: inline-block;
	padding: 0 20px;
	background: #fff;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}
.block-img-production{
	margin: 40px auto 0;
	/* display: inline-block; */
	text-align: center;
	/* outline: 2px dashed red */
}
.img-product{
	width: 360px;
	height: 345px;
	border: 5px solid green;
	overflow: hidden;
	display: inline-block;
	margin: 0 12px;
	margin-bottom: 25px;
	transition: all .5s ease;
}
.img-product:hover{
	transform: scale(1.2);
	position: relative;
	z-index: 10;

}

/* ======section-about-company======= */

.img-frame{
	background: url(../imgs/frame.png);
	height: 21px;
	width: 100%;	
	position: absolute;
	margin-top: -1px;
}
.section-about-company{
	/* overflow: hidden; */
	width: 100%;
}
.container-about{
	width: 100%;
	height: 100px;
}
.left-description{
	background: #35a629;
	padding: 100px 0 80px;	
	width: 50%;
	padding-left: 8%;
	padding-right: 40px;
	display: inline-block;
	float: left;
    min-height: 600px;
}
.title-about h2{
	font-size: 60px;
	text-transform: uppercase;
	margin-bottom: 54px;
	color: #fff;
	font-weight: lighter;
}
.left-description p{
	font-size: 16px;
	margin-bottom: 66px;
	color: #fff;
}
.button-more-about a{
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	padding: 18px 35px;
	background: #47f019;
	border-radius: 50px;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.map {
	width: 50%;
	display: inline-block;
	float: left;
}
.map iframe{
    /* position:relative; */
    min-height: 600px;
    min-width:100%;
}

/* ========section-delivery======= */

.section-delivery{
	padding-top: 70px;
	padding-bottom: 90px;
	background: #f4f4f4;
}
.title-delivery{
	display: inline-block;
	width: 100%;
	background: url(../imgs/wave.png);
	text-align: center;
	background-repeat: repeat-x;
	background-position: center;
}
.title-delivery h2{
	display: inline-block;
	padding: 0 20px;
	background: #f4f4f4;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}

.img-drop{
	margin-top: 20px;
	background: url(../imgs/drop.png) no-repeat center;
	height: 32px;
	width: 100%;
}
.block-main{
	margin-top: 50px;
	width: 100%;
	display: inline-block;
}
.section-delivery .block-main-left{
	float: left;
	width: 45%;
	padding-right: 40px;
	height: 330px;
	display: inline-block;
	position: relative;
}
.section-delivery .block-main-right{
	float: left;
	width: 55%;
	height: 330px;
	display: inline-block;
	position: relative;
}
.img img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.button-order-delivery a{
	display: inline-block;
	border-radius: 50px;
	background: #35a629;
	padding: 15px 25px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}
.title-right h3{
	margin-bottom: 40px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: lighter;
}
.price{
	width: 100%;
	padding: 14px;
	background: #fff;
	border-radius: 5px;
	display: inline-block;
}
.price p{
	font-size: 18px;
	font-weight: bold;
	width: 69%;	
	display: inline-block;
}
.price-1,.price-2{
	margin-bottom: 10px;	
}
.sum{
	width: 29%;
	display: inline-block;
	text-align: right;
	font-size: 18px;
	color: #35a629;
}
.comment p{
	margin-top: 30px;
	font-size: .9rem;
}



/* =======FOOTER======== */

#footer{
	background: #35a629;
	position: relative;
}
.wave-footer{
	background: url(../imgs/smooth-wave-bg.png);
	width: 100%;
	height: 100%;
}
.logo-footer{
	position: absolute;
	bottom: 0;
}
ul.menu-footer{
	display: inline-block;
	padding: 40px 0 20px;
	text-align: left;
	margin-left: 180px;
}
ul.menu-footer li{
	display: inline-block;
	margin-bottom: 16px;
}
ul.menu-footer li a{
	border-radius: 30px;
	font-size: 13px;
	color: #fff;
	border: 0 solid transparent;
	transition: all .3s ease;
	margin: -1px;
	padding-left: 26px;
	padding-right: 22px;
	padding-bottom: 8px;
	padding-top: 8px;
}
ul.menu-footer li a:hover{
	border: 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;

}
ul.menu-footer li a::after{
	position: relative;
	content:".";
	color: #fff;
	bottom: 3px;
	left: 23px;
	z-index: 10;
}

@media (max-width: 992px) {
	.section-delivery .block-main-left, .section-delivery .block-main-right{
		width: 100%;
		display: inline-block;
		float: none;
	}
	.section-delivery .block-main-right{
		margin-top: 100px;
	}
	.title-right{
		text-align: center;
	}
}
@media (max-width: 1200px){
	.left-description{	
		width: 100%;
	}
	.map {
		width: 100%;
	}
	.block-text-pellets{
		float: none;
		width: 100%;
		display: block;
		height: 100%;
		padding-top: 0;
	}
	.block-list{
		padding-top: 100px;
		padding-left: 50px;
		width: 60%;
	}
	.main-block-pellets{
		margin-bottom: 0;
	}
	.block-profit-left{
		width: 100%;
		margin-bottom: 80px;
	}
	.block-profit-right{
		width: 100%;
	}
	.section-feedback .container{
		background: transparent;
	}
	.img-product{
		width: 75%;
	}
}
/* ============responsive-SLIDER============= */

