section.article-section{
	background: #E6ECF2;
	padding-top: 28px;
	padding-bottom: 80px;
	padding: 28px 120px 80px;
	@media (max-width: 768px) {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 61px;
	}

	h1{
		font-family: Montserrat;
		font-weight: 800;
		font-size: 64px;
		line-height: 68px;
		color: #0A1E33;
		margin: 0;
		margin-top: 8px;
		margin-bottom: 28px;
		@media (max-width: 1200px) {
			margin-left: 12px;
			margin-bottom: 15px;
			font-family: 'PT Sans';
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
		}
	}
	.top{
		display: grid;
		grid-template-columns: 140px auto;
		align-items: center;
		margin-bottom: 28px;
		@media (max-width: 1200px) {
			margin-left: 12px;
		}
		.buttom-articles{
			width: 124px;
			text-align: center;
			a{
				border-radius: 4px;
				border: 1px solid rgba(10, 30, 51, 0.8);
				padding: 3px 0;
				display: block;
				color: #0A1E33;
				font-size: 14px;
				transition: .3s;
				&:hover{
					background: #0A1E33;
					color: #ccfef0;
				}
			}
		}
		p{
			font-size: 14px;
		}
	}
	.main-img{
		height: 460px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: top center;
	}
	.main-text-common-block{
		background-color: #fff;
		padding: 60px 90px 90px 60px;
		&>div>h3{
			@media (max-width: 1200px) {
				margin-bottom: 13px;
			}
		}
		@media (max-width: 1200px) {
			padding: 30px 10px 24px 10px;
		}
		.what-that{
			margin-bottom: 15px;
			max-width: 855px;
			padding-right: 18px;
			h3{
				font-weight: bold;
				line-height: 32px;
				font-size: 24px;
				color: #0A1E33;
			}
			p{
				line-height: 24px;
				font-size: 16px;
				margin-bottom: 12px;
			}
			.wrap-structure{
				ul{
					li:before{
						content:  "—";
					    position: relative;
					    left: -5px;
					   	color: #0A1E33;
					   	font-size: 16px;
					   	line-height: 24px;
					   }
					li:first-child::before{
						display: inline-block;
					}
				}
			}
		}
		.appearance{
			margin-bottom: 15px;
			max-width: 855px;
			padding-right: 18px;
		}
		.innovations{
			margin-bottom: 15px;
			max-width: 855px;
			padding-right: 18px;
			@media (max-width: 768px) {
				display: none;
			}
		}
		.block-img{
			display: grid;
			grid-template-columns: auto 200px;
			grid-column-gap: 16px;
			margin-bottom: 20px;
			@media (max-width: 1100px) {
				grid-template-columns: auto;
				margin-left: -10px;
				margin-right: -10px;
			}
			.img{
				width: 100%;
				height: 460px;
				background-repeat: no-repeat;
				background-position: center;
			}
			p{
				font-family: 'PT Sans';
				font-size: 14px;
				line-height: normal;
				font-style: italic;
				max-width: 200px;
				@media (max-width: 1100px) {
					margin-left: 10px;
					margin-top: 18px;
				}
			}
		}
		.works-summer{
			margin-bottom: 15px;
			max-width: 855px;
			padding-right: 18px;
		}
		.works-winter{
			margin-bottom: 15px;
			max-width: 855px;
			padding-right: 18px;
			@media (max-width: 768px) {
				display: none;
			}
		}.advantages{
			margin-bottom: 15px;
			max-width: 855px;
			padding-right: 18px;
			ul{
				margin-bottom: 12px;
				li:before{
					content:  "—";
				    position: relative;
				    left: -5px;
				   	color: #0A1E33;
				   }
				li:first-child::before{
					display: inline-block;
				}
			}
		}
		.universal-solution{
			max-width: 855px;
			padding-right: 18px;
			p{
				margin-bottom: 12px;
				a{
					text-decoration: underline;
					color: #007DFF;
				}
			}
		}
	}
	.similar-articles{
		.top-strip{
			display: grid;
			grid-template-columns: auto auto;
			align-items: center;
			margin-bottom: 19px;
			@media (max-width: 1200px) {
				margin-left: 12px;
			}
			h2{
				font-family: Montserrat;
				font-style: normal;
				font-weight: 800;
				line-height: normal;
				font-size: 40px;
				color: #0A1E33;
				margin-bottom: 10px;
				@media (max-width: 992px) {
					font-size: 24px;
					line-height: 32px;
					font-family: 'PT Sans';			}
			}
			.view-all{
				justify-self: end;
				text-align: center;
				@media (max-width: 768px) {
					display: none;
				}
				a{
					width: 240px;
					border: 1px solid #0A1E33;
					border-radius: 4px;
					padding: 12px 0;
					display: block;
					font-size: 18px;
					transition: .3s;
					&:hover{
						background: #0A1E33;
						color: #ccfef0;
					}
				}
			}
		}
		.block-cards{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
			grid-gap: 16px;
			.card{
				background-color: #fff;
				display: grid;
				grid-template-rows: auto auto;
				border-radius: 4px;
				position: relative;
				transition: .2s;
				&:hover{
					transform: scale(1.02);
				}
				.img{
					border-radius: 4px 4px 0 0;
					height: 288px;
					background-position: center;
					background-size: cover;
					position: relative;
					.button-news{
						color: #fff;
						width: 124px;
						height: 24px;
						text-align: center;
						display: grid;
						align-items: center;
						position: absolute;
						bottom: 24px;
						left: 24px;
						background: #007DFF;
						border-radius: 2px;
						a{
							color: #fff;
						}
					}
					.articles{
						background: #62BDA4;
					}
				}
				.text{
					padding: 13px 24px 31px;
					h4{
						font-weight: bold;
						line-height: normal;
						font-size: 16px;
						color: #000000;
						margin-bottom: 7px;
					}
					.bottom-block{
						display: grid;
						grid-template-columns: auto 27px 16px;
						align-items: center;
						span{
							font-size: 14px;
							color: rgba(10, 30, 51, 0.8);
						}
					}
				}
				a{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
			.display-none{
				@media (max-width: 768px) {
					display: none;
				}
			}
		}
		.bottom-hidden{
			display: none;
			justify-self: end;
			text-align: center;
			width: 240px;
			margin: 0 auto;
			a{
				display: block;
				padding: 12px 0;
				border: 1px solid #0A1E33;
				border-radius: 4px;
				transition: .3s;
				&:hover{
					background: #0A1E33;
					color: #ccfef0;
				}
			}
			@media (max-width: 768px) {
				display: block;
				margin-top: 24px;
			}
		}		
	}
}