*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

p{
	font-family: 'PT Sans';
	font-size: 16px;
	line-height: 24px;
	color: #0A1E33;
}
.top-menu{
	ul{
		@media (max-width: 768px) {
			margin-left: 12px;
		}
		li{
			display: inline-block;
			a{
				text-decoration: underline;
				color: #007DFF;
			}
			&::before{
				text-decoration: none;
				content: "\00B7";
				color: #007DFF; 
				margin-right: 4px;
			}
			&:first-child::before{
				display: none;
			}
			&:last-child::before{
				color: #0A1E33;
			}
		}
	}
}

.block-form-quetions{
	position: relative;
	padding: 40px 60px 50px;
	padding-right: 365px;
	background: linear-gradient(294.74deg, #CCFEF0 9.79%, #B1D2F4 89.42%);
	border-radius: 0px 0px 4px 4px;
	margin-bottom: 32px;
	@media (max-width: 992px) {
		padding: 16px 10px 27px;
	}
	h2{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		font-size: 40px;
		color: #0A1E33;
		margin-bottom: 14px;
		@media (max-width: 992px) {
			font-family: "PT Sans";
			font-size: 24px;
			line-height: 32px;
		}
	}
	p{
		line-height: 32px;
		font-size: 24px;
		margin-bottom: 30px;	
		max-width: 744px;
		@media (max-width: 992px) {
			font-size: 16px;
			line-height: 24px;
		}
	}
	.form{
		margin: 8px 0;
		max-width: 496px;			
		@media (max-width: 992px) {
			margin: 18px auto 0;
		}
		form{
			display: grid;
			grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
			grid-gap: 16px;
			justify-items: center;
			input{
				width: 240px;
				min-height: 48px;
				background: rgba(10, 30, 51, 0.1);
				border-radius: 4px 4px 0px 0px;
				padding: 12px 0 12px 20px;
				font-size: 18px;
				border: none;
				border-bottom: 1px solid rgba(10, 30, 51, 0.8);
				&::placeholder{
					color: rgba(10, 30, 51, 0.8);
				}
			}
			button{
				width: 240px;
				min-height: 49px;
				padding-top: 12px;
				padding-bottom: 12px;
				font-size: 18px;
				border: none;
				border-radius: 4px;
				background: #007DFF;
				color: #E6ECF2;
				margin: 0;
				transition: all .1s ease;
				&:hover{
					background: #1CADFF;
				}
				&:active{
					background: #004F9F;
				}
			}
			@media (max-width: 992px) {
				input,button{
					width: 100%;
				}
			}
		}
	}
	.img-girl{
		position: absolute;
		bottom: 0;
		right: 76px;
		margin-bottom: -4px;
		@media (max-width: 992px) {
			display: none;
		}
	}
}

.slick-dots li{
	margin: 0 6px;
	width: 0px;
}
.slick-dots li button:before{
	width: 10px;
	height: 10px;
	background: #aaa;
	border-radius: 50px;
	content: ' ';
	margin-top: 14px;
}
section.main-slider{
	background: linear-gradient(289.58deg, #CCFEF0 9.79%, #B1D2F4 89.42%);
	width: 100%;
	min-height: 460px;
	.container{
		.wrapper-slider{
			position: relative;
			.block-arrows-main{
				@media (max-width: 1030px) {
					display: none;
				}
				.arrow-prew-main{
					width: 80px;
					height: 80px;
					background: rgba(10, 30, 51, 0.1);
					border-radius: 50px;
					position: absolute;
					top: 50%;
					margin-top: -40px;
					left: -40px;
					transition: .2s;
					&:hover{
						transform: scale(1.05);
						box-shadow: 1px 1px 20px #eee;
					}
					svg{
						position: relative;
						top: 30px;
						left: 25px;
					}
					@media (max-width: 1300px) {
						transform: scale(.8);
						left: -20px;
					}
					@media (max-width: 1299px) {	left: -80px;	}
				}
				.arrow-next-main{
					width: 80px;
					height: 80px;
					background: rgba(10, 30, 51, 0.1);
					border-radius: 50px;
					position: absolute;
					top: 50%;
					margin-top: -40px;
					right: -40px;
					transition: .2s;
					&:hover{
						transform: scale(1.05);
						box-shadow: 0 0 20px #eee;
					}
					svg{
						position: relative;
						top: 30px;
						left: 25px;
					}
					@media (max-width: 1300px) {
						transform: scale(.8);
						right: -20px;
					}
					@media (max-width: 1299px) {	right: -80px;	}
				}
			}
			.slider-main-top{
				margin: 0 auto;
				padding: 71px 0;
				max-width: 1064px;
				position: relative;
				min-height: 460px;
				@media (max-width: 1200px) {
					height: 550px;
				}
				@media (max-width: 1030px) {
					padding: 21px 0 30px;
				}
				@media (max-width: 1030px){
					height: 519px; 
				}
				.slide{
					padding: 0 5px;
					align-self: center;
					display: grid;
					grid-column-gap: 31px;
					grid-template-columns: auto auto;
					@media (max-width: 1030px) {
						text-align: center;
						grid-template-columns: auto;
						grid-gap: 0;
					}
					@media (max-width: 530px){
						text-align: left;
					}
					.block-text{
						position: relative;
						float: right;
						h1{
							font-family: Montserrat;
							font-style: normal;
							font-weight: 800;
							line-height: 68px;
							font-size: 64px;
							color: #0A1E33;
							margin: 0;
							margin-bottom: 14px;
							position: relative;
							@media (max-width: 530px) {
								font-style: normal;
								font-weight: 800;
								line-height: normal;
								font-size: 40px;
								margin: 0;
							}
							@media (max-width: 425px) {
								font-size: 35px;
							}
						}
						span.label{
							display: grid;
							align-items: center;
							text-align: center;
							width: 157px;
							height: 80px;
							padding: 0 20px;
							background: #FFC700;
							border-radius: 8px;
							transform: rotate(-15deg);
							color: #0A1E33;
							font-family: PT Sans;
							font-style: normal;
							font-weight: bold;
							line-height: normal;
							font-size: 24px;
							position: absolute;
							top: 60px;
							left: 535px;
							@media (max-width: 1200px) {
								left: 400px;
							}
							@media (max-width: 1030px) {
								display: inline-block;
								width: 100%;
								position: static;
								padding-top: 10px;
								transform: none;
								height: 55px;
								margin: 22px 0;
							}
						}
						p{
							font-family: PT Sans;
							font-style: normal;
							font-weight: normal;
							line-height: 32px;
							font-size: 24px;
							color: #0A1E33;
							margin: 0;
							line-height: 32px;
							font-size: 24px;
							color: #0A1E33;
							a{
								color: #007FFF;
							}
							@media (max-width: 530px) {
								line-height: 24px;
								font-size: 16px;
								margin-bottom: 15px;
							}
						}
					}
					.form{
						margin: 8px 0;
						@media (max-width: 540px) {
							text-align: center;
							margin: 0;
						}
						form{
							input{
								margin-right: 16px;
								width: 240px;
								min-height: 48px;
								border: 0;
								background: rgba(10, 30, 51, 0.1);
								border-radius: 4px 4px 0px 0px;
								padding: 12px 0 12px 20px;
								border-bottom:  1px solid rgba(10, 30, 51, 0.8);
								transition: .3;
								font-family: "PT Sans";
								font-style: normal;
								font-weight: normal;
								font-size: 18px;
								background-image: transparent;
								&::-webkit-outer-spin-button,
								&::-webkit-inner-spin-button {
								    display: none;
								    margin: 0; 
								}
								&::placeholder {
								  font-family: "PT Sans";
									font-style: normal;
									font-weight: normal;
									font-size: 18px;
									color: rgba(10, 30, 51, 0.8);
								}
								&:focus{
									background: #FFFFFF;
									border-bottom: 1px solid #007DFF;
									color: #0A1E33
								}
								&:hover{
									border-bottom: 1px solid #007DFF;
								}
								&::-webkit-outer-spin-button,
								&::-webkit-inner-spin-button {
							    /* display: none; <- Crashes Chrome on hover */
							    -webkit-appearance: none;
							    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
								}
								@media (max-width: 540px) {
									margin: 0 auto;
									width: 100%;
								}
							}
							label { display: none !important; }
							input.error, input.valid{
								background-repeat: no-repeat;
								background-position: right 18px center;
							}
							input.error{
								&:focus{
									background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC6SURBVHgBfVIBEYMwEEtRgATmYHMACjYcDAXDARImoRKwgINtClYJKFiXP8rRlpbccXn6yYfnqhBBA5UiWaAmT+SuA4yvKWIThYMYpHasE5og5UYasUfDtCmX9PTqKXO+mZhyJ1Xu1XByo7Zdzuz3gUkv4gHHGKgr/aTeS8FaWydyKCl+SKFcyjcx+cLnlTg/FSrzWZx6Jc2Jli7s8gNizD/ggzRq2emdaMguI8KdVhgxtYiuyQEkoP0DOT4mTD/Vyv0AAAAASUVORK5CYII=');
								}
							}
							input.valid{
								&:focus{
									background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADzSURBVHgBhZDdTcNAEIR31ikgJaQEqICcRAN5BPFwTgOhAyghKQDZQYroAQniDkgHmA4inpBFdnJ2/uwoTvZt9765nR3Itvw86ap1HgHckNKvhpAFoOMXdz/dcdjAbz2lzYXsyakCcoO61N3llWD4OftuhRui4joafsy8CL1cri7Y+VMBR20EhbkZ3b4H+xqmVzUmrcM0iTXSZO8qhKFHf/6Y4LkBH92mhGSHFk8qBq50cAoOcS8URNbcEkQRv1pSG6tpMSktyIUqmeT2Yaqpi5cs/t05UXVTYKr99Qf//uqhOgI2yQXPGREs/xaTdBAvy9kaegp18ESnQE8AAAAASUVORK5CYII=');
								}
							}
							button{
								width: 240px;
								min-height: 49px;
								padding-top: 12px;
								padding-bottom: 12px;
								font-size: 18px;
								border: none;
								border-radius: 4px;
								background: #007DFF;
								color: #E6ECF2;
								margin: 0;
								transition: all .1s ease;
								&:hover{
									background: #1CADFF;
								}
								&:active{
									background: #004F9F;
								}
								@media (max-width: 540px) {
									margin-top: 15px;
									width: 100%;
								}
							}
						}
					}
					.img-wind{
						align-self: center;
						grid-area: 1/2/4/3;
						img{
							@media (max-width: 1030px) {
							display: none;
							}
						}
					}
				}
			}
		}
	}
}
section.about-company{
	background: #E5E5E5;
	padding: 40px 0;
	@media (max-width: 992px) {
		padding-bottom: 0;
		padding-top: 32px;
	}
	.title-our-service{
		h2{
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 16px;
			display: none;
			@media (max-width: 500px) {
				display: block;
			}
		}
	}
	.slider-block-cards{
		margin: 0 auto 40px;
		.card{
			position: relative;
			width: 400px;
			height: 320px;
			padding-top: 216px;
			background-repeat: no-repeat;
			background-position: center;
			.inner-text-box{
				position: absolute;
				width: 320px;
				background: #fff;
				padding: 10px 20px;
				font-family: PT Sans;
				font-style: normal;
				font-weight: bold;
				line-height: 32px;
				font-size: 24px;
				color: #0A1E33;
				margin: 0 auto;
				bottom: 16px;
				left: 50%;
				margin-left: -160px;
				@media (max-width: 400px) {
					width: 100%;
					left: 0;
					right: 0;
					margin: 0;
				}
			}
		}
	}
	.form{
		margin-bottom: 40px;
		@media (max-width: 992px) {
			margin-bottom: 22px;
		}
		form{
			display: grid;
			grid-template-columns: repeat(3,auto);
			border: 4px solid #007DFF;
			border-radius: 60px;
			align-items: center;
			min-height: 120px;
			justify-items: center;
			margin: 0 auto;
			background-color: #fff;
			padding: 0 60px;
			@media (max-width: 1299px) {
				grid-template-columns: auto;
				min-height: 100%;
				padding: 32px 60px;
				max-width: 800px;
				grid-gap: 20px;
			}
			@media (max-width: 700px) {
				border-radius: 15px;
				grid-template-columns: 1fr;
				padding: 20px;
			}
			h3{
				font-family: Montserrat;
				font-style: normal;
				font-weight: 800;
				line-height: normal;
				font-size: 28px;
				color: #0A1E33;
				margin-right: 20px;
				@media (max-width: 1299px) {
					grid-area: 1/1/span1/span2;
					margin-right: 0;
				}
				@media (max-width: 700px){
					grid-area: auto;
					font-size: 22px;
				}
			}
			input{
				width: 320px;
				height: 48px;
				border: none;
				padding: 14px 0 10px 20px;
				border: 0;
				background: rgba(10, 30, 51, 0.1);
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				border-bottom:  1px solid rgba(10, 30, 51, 0.8);
				transition: .3;
				font-family: "PT Sans";
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				background-image: transparent;
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
				    display: none;
				    margin: 0; 
				}
				&::placeholder {
				  font-family: "PT Sans";
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					color: rgba(10, 30, 51, 0.8);
				}
				&:focus{
					background: #FFFFFF;
					border-bottom: 1px solid #007DFF;
					color: #0A1E33
				}
				&:hover{
					border-bottom: 1px solid #007DFF;
				}
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					/* display: none; <- Crashes Chrome on hover */
					-webkit-appearance: none;
					margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
				}
				@media (max-width: 700px){
					width: 100%;
				}
			}
			input.error, input.valid{
				background-repeat: no-repeat;
				background-position: right 18px center;
			}
			input.error:focus{
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC6SURBVHgBfVIBEYMwEEtRgATmYHMACjYcDAXDARImoRKwgINtClYJKFiXP8rRlpbccXn6yYfnqhBBA5UiWaAmT+SuA4yvKWIThYMYpHasE5og5UYasUfDtCmX9PTqKXO+mZhyJ1Xu1XByo7Zdzuz3gUkv4gHHGKgr/aTeS8FaWydyKCl+SKFcyjcx+cLnlTg/FSrzWZx6Jc2Jli7s8gNizD/ggzRq2emdaMguI8KdVhgxtYiuyQEkoP0DOT4mTD/Vyv0AAAAASUVORK5CYII=');
			}
			input.valid:focus{
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADzSURBVHgBhZDdTcNAEIR31ikgJaQEqICcRAN5BPFwTgOhAyghKQDZQYroAQniDkgHmA4inpBFdnJ2/uwoTvZt9765nR3Itvw86ap1HgHckNKvhpAFoOMXdz/dcdjAbz2lzYXsyakCcoO61N3llWD4OftuhRui4joafsy8CL1cri7Y+VMBR20EhbkZ3b4H+xqmVzUmrcM0iTXSZO8qhKFHf/6Y4LkBH92mhGSHFk8qBq50cAoOcS8URNbcEkQRv1pSG6tpMSktyIUqmeT2Yaqpi5cs/t05UXVTYKr99Qf//uqhOgI2yQXPGREs/xaTdBAvy9kaegp18ESnQE8AAAAASUVORK5CYII=');
			}
			label{display: none !important;}
			button{
				background: #007DFF;
				border-radius: 4px;
				text-align: center;
				width: 240px;
				height: 48px;
				border: none;
				font-size: 18px;
				color: #E6ECF2;
				transition: all .1s ease;

				input.error, input.valid{
					background-repeat: no-repeat;
					background-position: right 18px center;
				}
				input.error{
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC6SURBVHgBfVIBEYMwEEtRgATmYHMACjYcDAXDARImoRKwgINtClYJKFiXP8rRlpbccXn6yYfnqhBBA5UiWaAmT+SuA4yvKWIThYMYpHasE5og5UYasUfDtCmX9PTqKXO+mZhyJ1Xu1XByo7Zdzuz3gUkv4gHHGKgr/aTeS8FaWydyKCl+SKFcyjcx+cLnlTg/FSrzWZx6Jc2Jli7s8gNizD/ggzRq2emdaMguI8KdVhgxtYiuyQEkoP0DOT4mTD/Vyv0AAAAASUVORK5CYII=');
				}
				input.valid{
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADzSURBVHgBhZDdTcNAEIR31ikgJaQEqICcRAN5BPFwTgOhAyghKQDZQYroAQniDkgHmA4inpBFdnJ2/uwoTvZt9765nR3Itvw86ap1HgHckNKvhpAFoOMXdz/dcdjAbz2lzYXsyakCcoO61N3llWD4OftuhRui4joafsy8CL1cri7Y+VMBR20EhbkZ3b4H+xqmVzUmrcM0iTXSZO8qhKFHf/6Y4LkBH92mhGSHFk8qBq50cAoOcS8URNbcEkQRv1pSG6tpMSktyIUqmeT2Yaqpi5cs/t05UXVTYKr99Qf//uqhOgI2yQXPGREs/xaTdBAvy9kaegp18ESnQE8AAAAASUVORK5CYII=');
				}
				@media (max-width: 700px){	width: 100%; }
			}
		}
		@media (max-width: 500px) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
	.block-about{
		background: #FFFFFF;
		border-radius: 4px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 40px 60px 47px;
		grid-column-gap: 44px;
		@media (max-width: 992px) {
			grid-template-columns: auto;
			grid-row-gap: 70px;
			padding: 18px 20px 16px;
		}
		@media (max-width: 500px) {
			background-color: inherit;
			grid-row-gap: 0;
			padding: 0;
			margin-left: -15px;
			margin-right: -15px;
		}
		.text{
			h2{
				font-family: Montserrat;
				font-style: normal;
				font-weight: 800;
				font-size: 40px;
				color: #0A1E33;
				margin-bottom: 14px;
				@media (max-width: 500px) {
					font-family: 'PT Sans';
					font-weight: normal;
					font-size: 24px;
				}
			}
			span{
				p{
					font-size: 16px;
					line-height: 24px;
					color: #0A1E33;
					&:last-child{
						@media (max-width: 500px) {
							display: none;
						}
					}
				}
			}
			a{
				font-size: 14px;
				line-height: 18px;
				text-decoration: underline;
				color: #007DFF;
			}
			@media (max-width: 500px) {
				background-color: #fff;
				padding: 18px 20px 16px;	
			}
		}
		.block-cards-bottom{
			display: grid;
			grid-gap: 44px 27px;
			align-items: center;
			overflow: hidden;
			@media (max-width: 500px) {
				display: block;
				margin: 19px 14px 13px;
				background-color: #fff;
				padding: 17px 16px 21px 13px;
			}
			.card{
				display: grid;
				grid-template-columns: 80px auto;
				grid-column-gap: 44px;
				@media (max-width: 500px) {
					grid-gap: 24px;
				}
				.badge{
					text-align: center;
					grid-row: 1/2 span;
					align-self: center;
					width: 80px;
					@media (max-width: 500px) {
						grid-area: 1/1/2/2;
					}
				}
				h3{
					font-weight: bold;
					font-size: 24px;
					width: 100%;
					align-self: center;
				}
				p{
					font-size: 14px;
					@media (max-width: 500px) {
						grid-area: 2/1/span 1/span 2;
					}
				}
			}
		}
	}
}

section.two-slider-text{
	display: inline-block;
	float: left;
	width: 100%;
	background: linear-gradient(279.14deg, #CCFEF0 9.79%, #B1D2F4 89.42%);
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	.container{
		@media(max-width: 425px){
			padding-left: 0;
			padding-right: 0;
		}
	}
	.block-slider{
		display: inline-block;
		float: left;
		width: 100%;
		border-bottom: 1px solid #0A1E33;
		padding-bottom: 24px;
		margin-bottom: 24px;
		&:last-child{
			border: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		@media(max-width: 991px){	
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 43px;
		}
		.text-block{
			display: inline-block;
			float: left;
			width: 35%;
			padding-right: 8%;
			@media(max-width: 1199px){ width: 50%; }
			@media(max-width: 991px){
			 width: 100%; 
			 padding-right: 20px;
			 padding-left: 20px;
			 margin-bottom: 39px;
			}
			@media(max-width: 425px){
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		.title-text{
			display: inline-block;
			float: left;
			width: 100%;
			margin-bottom: 6px;
			@media(max-width: 991px){ padding-right: 0; }
			h2, h3, h4, h5, h6{
				font-family: Montserrat;
				font-size: 40px;
				font-weight: 800;
				color: #0A1E33;
				line-height: 49px;
				margin-bottom: 12px;
			}
			p{
				font-weight: normal;
				font-family: 'PT Sans';
				font-size: 16px;
				color: #0A1E33;
				line-height: 24px;
			}
		}
		&:nth-child(2n){
			.text-block{ 
				float: right;
				padding-right: 0;
				padding-left: 8%;
				@media(max-width: 991px){
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			.slider-wrap{	float: left; }
		}
	}
	.slider-wrap{
		display: inline-block;
		float: right;
		width: 65%;
		position: relative;
		z-index: 1;
		@media(max-width: 1199px){ width: 50%; }
		@media(max-width: 991px){ 
			width: 100%;
			background: #fff;
		}
		.slider{
			display: inline-block;
			float: right;
			width: 100%;
			overflow: hidden;
		}
		.slider-list{
			margin-left: -8px;
			margin-right: -8px;
			width: 122.5%;
			@media(max-width: 991px){ width: auto; }
		}
		.slider-block{
			display: inline-block;
			float: left;
			padding-left: 8px;
			padding-right: 8px;
			width: 33.333%;
		}
		.block{
			display: inline-block;
			float: left;
			width: 100%;
			background: #fff;
			padding: 11px 24px;
			@media(max-width: 991px){	padding: 11px 16px;	}
		}
		.img-block{
			display: inline-block;
			float: left;
			width: 100%;
			height: 288px;
			margin-bottom: 16px;
			position: relative;
			z-index: 1;
		}
		img{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
		.slider-title-text{
			display: inline-block;
			float: left;
			width: 100%;
			text-align: center;
			height: 130px;
			overflow: hidden;
		}
		h1, h2, h3, h4, h5, h6{
			font-weight: bold;
			font-family: 'PT Sans';
			font-size: 24px;
			color: #0A1E33;
			line-height: 32px;
			margin: 0;
		}
		p{
			font-weight: normal;
			font-family: 'PT Sans';
			font-size: 16px;
			color: #0A1E33;
			line-height: 24px;
		}
	}
	.button{
		display: inline-block;
		width: 100%;
		float: left;
		a{
			display: inline-block;
			float: left;
			width: 240px;
			text-align: center;
			padding: 12px 69px;
			margin: 0;
			color: #0A1E33;
			border-radius: 4px;
			border: 1px solid #0A1E33;
			cursor: pointer;
			background: transparent;
			transition: .3s;
			&:hover{
				background: #0A1E33;
				color: #ccfef0;
			}
		}
	}
	.prew-profile-top, .prew-profile-bottom{ 
		left: -40px;
		@media(max-width: 1400px){ left: -30px;} 
	}
	.next-profile-top, .next-profile-bottom{ 
		right: -40px; 
		@media(max-width: 1400px){ right: -30px; }
	}
	.prew-profile-top, .next-profile-top,
	.prew-profile-bottom, .next-profile-bottom{
		position: absolute;
		z-index: 1;
		top: 42%;
		width: 80px;
		height: 80px;
		background: #0A1E33;
		border-radius: 50px;
		opacity: .9;
		transition: .3s;
		text-align: center;
		cursor: pointer;
		&:hover{ opacity: 1 !important; }
		@media(max-width: 1400px){
			width: 60px;
			height: 60px;
		}
		@media(max-width: 991px){
			display: none !important;
		}
		svg{
			position: relative;
			top: 30px;
			@media(max-width: 1400px){
				top: 20px;
			}
		}
	}
	.custom-paging{
		display: inline-block;
		float: left;
		width: 100%;
		text-align: center;
		li{
			display: inline-block;
			line-height: 0;
			padding-left: 5px;
			padding-right: 5px;
			&:first-child{ padding-left: 0;}
			&:last-child {padding-right: 0;}
		}
		button{
			display: inline-block;
			float: left;
			margin: 0;
			line-height: 0;
			font-size: 0;
			overflow: hidden;
			width: 16px;
			height: 16px;
			border-radius: 100%;
			background: #2F5377;
			border: 0;
			transition: .3s;
		}
		.slick-active button{ background: #0A1E33; }
	}
}

section.common-wrapper{
	background: #E6ECF2;
	padding-top: 40px;
	padding-bottom: 80px;
	.calculator{
		form{
			h2{
				margin-bottom: 2px;
				font-family: Montserrat;
				font-weight: 800;
				font-size: 40px;
				grid-area: 1/1/2/span 2;
				@media (max-width: 1300px) {
					grid-area: 1/1/2/2;
				}
				@media (max-width: 768px) {
					margin-left: 12px;
					font-size: 24px;
					line-height: 32px;
					font-weight: normal;
					font-family: 'PT Sans';
				}
			}
			.block-calculator{
				background-color: #fff;
				padding: 41px 60px 53px;
				display: grid;
				grid-template-columns: 532px auto;
				grid-gap: 0 91px;
				align-items: center;
				@media (max-width: 1400px) {
					grid-template-columns: auto;
					grid-row-gap: 50px;
				}
				@media (max-width: 768px) {
					padding: 12px 10px 33px;
					margin-left: -15px;
					margin-right: -15px;
				}
				.block-left{
					display: grid;
					@media (max-width: 768px) {
						justify-items: center;
						text-align: center;
					}
					.type{
						margin-bottom: 7px;
						h3{
							font-size: 24px;
							line-height: 32px;
							margin-bottom: 8px;
							font-weight: normal;
						}
						.radio-buttons{
							display: grid;
							text-align: center;
							grid-template-columns: repeat(4,1fr);
							grid-gap: 10px;
							@media (max-width: 768px){
								grid-template-columns: 1fr 1fr;
								grid-gap: 40px;
							}
							label{
								span:hover{
									filter: grayscale(100%);
									p{
									filter: grayscale(100%);
									}
								}
								span>p{
									font-size: 14px;
									text-decoration: underline;
									color: #007DFF;
								}
								input[type=radio]:checked +span>svg>path{
									fill: #0A1E33;
								}
								input[type=radio]:first-child:checked +span>p{
									text-decoration: none;
									color: #0A1E33;
								}
							}
						}
					}
					.house{
						margin-bottom: 12px;
						h3{
							font-size: 24px;
							line-height: 32px;
							color: #0A1E33;
							margin-bottom: 8px;
							font-weight: normal;
						}
						.radio-buttons{
							width: 300px;
							display: grid;
							grid-template-columns: 1fr 1fr;
							justify-items: center;
							align-items: center;
							height: 48px;
							border: 1px solid rgba(10, 30, 51, 0.8);
							border-radius: 4px;
							transition: all .2s ease;
							&:hover{
								border: 1px solid #007DFF;
							}
							label{
								text-align: center;
								width: 100%;
								height: 100%;
								border: none;
								&:last-child span{
									border-radius:0 4px 4px 0;
								}
								span{
									border-radius: 4px 0 0 4px;
									display: grid;
									align-items: center;
									color: rgba(10, 30, 51, 0.8);
									font-size: 18px;
									width: 150px;
									height: 48px;
									margin-top: -1px;
									&:hover{
										color: #0A1E33
									}
								}
								input[type=radio]:checked+span{
									background-color: #007DFF;
									color: #fff;
								}
							}
						}
					}
					.options{
						margin-bottom: 12px;
						h3{
							font-size: 24px;
							line-height: 32px;
							color: #0A1E33;	
							margin-bottom: 8px;
							font-weight: normal;
						}
						.wrapper-option-buttons{
							display: grid;
							grid-template-columns: 180px 180px;
							grid-column-gap: 16px;
							align-items: center;
							@media (max-width: 420px) {
								grid-template-columns: 100%;
								grid-row-gap: 10px;
							}
							.button{
								display: grid;
								grid-template-columns: 1fr 2fr 23px;
								align-items: center;
								justify-items: center;
								width: 180px;
								padding-left: 18px;
								padding-right: 18px;
								min-height: 48px;
								background: rgba(10, 30, 51, 0.1);
								border-radius: 4px 4px 0px 0px;
								font-size: 18px;
								border-bottom: 1px solid rgba(10, 30, 51, 0.8);
								@media (max-width: 420px ) {
									width: 300px;
								}
								input::-webkit-outer-spin-button,
								input::-webkit-inner-spin-button {
								    appearance: none;
								}
								input[type='number'] {
									width: 45px;
									display: inline-block;
									border: none;
									justify-self: end;
									appearance:textfield;
									background: transparent;
									&::placeholder{
										color: rgba(10, 30, 51, 0.2);
									}
								}
							}
						}
					}
					.approximately-price{
						h3{
							margin-bottom: 8px;
							font-size: 24px;
							color: #0A1E33;
							font-weight: normal;
						}
						.wrap{
							display: grid;
							align-items: center;
							grid-template-columns: auto auto;
							@media (max-width: 768px) {
								grid-template-columns: auto;
								justify-items: center;
							}
							.output-price{
								font-size: 48px;
								font-weight: bold;
							}
							.button{
								text-align: center;
								width: 240px;
								padding: 12px 20px;
								color: #E6ECF2;
								font-size: 18px;
								line-height: 23px;
								background-color: #007DFF;
								border-radius: 4px;
								border: none;
								transition: all .1s ease;
								&:hover{
									background: #1CADFF;
								}
								&:active{
									background: #004F9F;
								}
							}
						}
						p{
							margin-top: 3px;
							font-size: 14px;
							text-align: left;
							@media (max-width: 768px){
								margin-top: 21px;
							}
							a{
								color: #007DFF;
								text-decoration: underline;
							}
						}
					}
				}
				.block-right{
					.window-calculator{
						text-align: center;
						display: grid;
						grid-gap: 15px;
						align-items: center;
						grid-template-columns: auto auto;
						grid-template-areas:
						"pv win"
						". ph";
						input[type=range] {
						  -webkit-appearance: none;
						  width: 440px;
						  margin: 7px 0;
						}
						input[type=range]:focus {
						  outline: none;
						}
						input[type=range]::-webkit-slider-runnable-track {
						  width: 100%;
						  height: 2px;
						  cursor: pointer;
						  background: rgba(10, 30, 51, 0.2);
						  border-radius: 0px;
						  border: 0px solid rgba(0, 0, 0, 0);
						}
						input[type=range]::-webkit-slider-thumb {
						  border: 0px solid rgba(0, 0, 0, 0);
						  height: 16px;
						  width: 16px;
						  border-radius: 16px;
						  background: #007dff;
						  cursor: pointer;
						  -webkit-appearance: none;
						  margin-top: -7px;
						}
						input[type=range]:focus::-webkit-slider-runnable-track {
						  background: rgba(12, 35, 60, 0.2);
						}
						input[type=range]::-moz-range-track {
						  width: 100%;
						  height: 2px;
						  cursor: pointer;
						  background: rgba(10, 30, 51, 0.2);
						  border-radius: 0px;
						  border: 0px solid rgba(0, 0, 0, 0);
						}
						input[type=range]::-moz-range-thumb {
						  border: 0px solid rgba(0, 0, 0, 0);
						  height: 16px;
						  width: 16px;
						  border-radius: 16px;
						  background: #007dff;
						  cursor: pointer;
						}
						input[type=range]::-ms-track {
						  width: 100%;
						  height: 2px;
						  cursor: pointer;
						  background: transparent;
						  border-color: transparent;
						  color: transparent;
						}
						input[type=range]::-ms-fill-lower {
						  background: rgba(8, 25, 42, 0.2);
						  border: 0px solid rgba(0, 0, 0, 0);
						  border-radius: 0px;
						}
						input[type=range]::-ms-fill-upper {
						  background: rgba(10, 30, 51, 0.2);
						  border: 0px solid rgba(0, 0, 0, 0);
						  border-radius: 0px;
						}
						input[type=range]::-ms-thumb {
						  border: 0px solid rgba(0, 0, 0, 0);
						  height: 16px;
						  width: 16px;
						  border-radius: 16px;
						  background: #007dff;
						  cursor: pointer;
						  height: 2px;
						}
						input[type=range]:focus::-ms-fill-lower {
						  background: rgba(10, 30, 51, 0.2);
						}
						input[type=range]:focus::-ms-fill-upper {
						  background: rgba(12, 35, 60, 0.2);
						}
						.polzunok-vertical{
							grid-area: pv;
							justify-self: end; 
							height: 0px;
							display: inline-block;
							width: 20px;
							padding: 0;
							height: 440px;
							.input-range-vertical{
								display: inline-block;
								float: left;
								width: 100%;
								height: 100%;
								position: relative;
								z-index: 1;
								input{
									position: absolute;
									z-index: 1;
									bottom: -21px;
									left: -2px;
								  height: 20px;
								  margin: 0;
								  transform-origin: 0px 0px;
								  transform: rotate(-90deg);
								}
							}
							.transparent-price-top, 
							.transparent-price-bottom,
							.vertical-count{
								position: absolute;
								right: 25px;
								width: 70px;
								text-align: right;
								color: rgba(10, 30, 51, 0.2);
							}
							.transparent-price-top{	top: -3px; }
							.transparent-price-bottom{ bottom: -1px; }
							.vertical-count{
								transform: rotate(0deg);
								bottom: 0;
								right: 25px;
								left: auto;
								background: transparent;
								color: #0A1E33;
							}
						}

						.window{
							grid-area: win;
							width: 440px;
						}
						.polzunok-horizontal{
							grid-area: ph;
							.input-range-horizontal{
								display: inline-block;
								float: left;
								width: 440px;
								position: relative;
								z-index: 1;
							}
							.transparent-price-left,
							.transparent-price-right,
							.horizontal-count{
								position: absolute;
								bottom: -25px;
								color: #0A1E33;
								span{
									color: rgba(10, 30, 51, 0.2);
								}
							}
							.transparent-price-left{
								left: 0;
							}
							.transparent-price-right{
								right: 0;
							}
							.horizontal-count{
								bottom: -25px;
								margin-left: -30px;
								width: 70px;
								text-align: center;
							}
						}
					}
					@media (max-width: 1300px) {
						grid-area: 3/1/4/2;
					}
					@media (max-width: 768px) {
						display: none;
					}
				}
			}
		}
	}
	section.work-performed{
		.work-performed-block{
			margin-top: 37px;
			margin-bottom: 18px;
			display: grid;
			align-items: center;
			grid-template-columns: auto auto;
			h2{
				font-family: Montserrat;
				font-weight: 800;
				font-size: 40px;
				line-height: 49px;
				display: inline-block;
				@media (max-width: 768px) {
					font-size: 24px;
					font-weight: normal;
					font-family: 'PT Sans';
				}
			}
			.view-all{
				justify-self: end;
				width: 240px;
				height: 48px;
				border: 1px solid #0A1E33;
				border-radius: 4px;
				text-align: center;
				@media (max-width: 768px){
					display: none;
				}
				a{
					display: block;
					padding: 12px 0;
					font-size: 18px;
					transition: .3s;
					&:hover{
						background: #0A1E33;
						color: #ccfef0;
					}
				}
			}
		}
		.wrapper-slider-works{
			position: relative;
			z-index: 1;
			@media (max-width: 992px){
				overflow: hidden;
				padding-bottom: 25px;
				background: #fff;
			}
			@media (max-width: 768px) {
				margin-left: -15px;
				margin-right: -15px;
			}
			.slider-works{
				margin-left: -8px;
				margin-right: -8px;
				position: relative;
				z-index: 1;
				.img-block{
					display: inline-block;
					float: left;
					width: 25%;
					padding-left: 8px;
					padding-right: 8px;
					cursor: pointer;
					position: relative;
					z-index: 1;
					&:hover .adress{
						opacity: 1;
						transition: .3;
					}
					.img{
						display: inline-block;
						float: left;
						width: 100%;
						height: 200px;
						background-repeat: no-repeat;
					    background-size: cover;
					    background-position: center;
					    position: relative;
						@media(max-width: 768px){	
							height: 400px; 
						}
						.adress{
							display: inline-block;
							float: left;
							width: 100%;
							height: 100%;
							padding: 32px 16px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							color: #FFFFFF;
							background: rgba(10, 30, 51, 0.8);
							overflow: hidden;
							opacity: 0;
							transition: .3s;
							@media(max-width: 768px){
								opacity: 1;
								height: auto;
								position: absolute;
								z-index: 1;
								z-index: 2;
								bottom: 0;
								left: 0;
							}
						}
					}
					a{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						z-index: 2;
						cursor: pointer;
					}
				}
				.works-paging{
					display: inline-block;
					float: left;
					width: 100%;
					text-align: center;
					margin-top: 25px;
					@media(min-width: 993px){
						display: none ;
					}
					li{
						display: none;
						line-height: 0;
						padding-left: 5px;
						padding-right: 5px;
						@media (max-width: 992px) {
							display: inline-block;
						}
						&:first-child{ padding-left: 0;}
						&:last-child {padding-right: 0;}
					}
					button{
						display: none;
						float: left;
						margin: 0;
						line-height: 0;
						font-size: 0;
						overflow: hidden;
						width: 16px;
						height: 16px;
						border-radius: 100%;
						background: #2F5377;
						border: 0;
						transition: .3s;
						@media (max-width: 992px) {
							display: inline-block;
						}
					}
					.slick-active button{ background: #0A1E33; }
				}
			}
			.arrows-slider-works{
				@media (max-width: 992px) {
					display: none;
				}
				.prew{
					position: absolute;
					z-index: 1;
					top: 60px;
					left: -40px;
					width: 80px;
					height: 80px;
					background: #E6ECF2;
					border-radius: 50px;
					transition: .2s;
					svg{
						position: relative;
						top: 30px;
						left: 25px;
					}
					&:hover{
						box-shadow: 0 0 5px #aaa;
						transform: scale(1.1);
					}
				}
				.next{
					position: absolute;
					z-index: 1;
					top: 60px;
					right: -40px;
					width: 80px;
					height: 80px;
					background: #E6ECF2;
					border-radius: 50px;
					transition: .2s;
					svg{
						position: relative;
						top: 30px;
						left: 25px;
					}
					&:hover{
						box-shadow: 0 0 5px #aaa;
						transform: scale(1.1);
					}
				}
			}
		}
	}
	section.feedback{
		.feedback-block-top{
			padding-top: 37px;
			padding-bottom: 18px;
			display: grid;
			align-items: center;
			grid-template-columns: auto auto;
			h2{
				font-family: Montserrat;
				font-weight: 800;
				font-size: 40px;
				line-height: 49px;
				display: inline-block;
				@media (max-width: 768px) {
					display: none;
				}
			}
			h4{
				display: none;
				font-size: 24px;
				font-weight: normal;
				font-family: 'PT Sans';
				@media (max-width: 768px) {
					display: block;
				}
			}
			.view-all{
				justify-self: end;
				width: 240px;
				height: 48px;
				border: 1px solid #0A1E33;
				border-radius: 4px;
				text-align: center;
				@media (max-width: 768px){
					display: none;
				}
				a{
					padding: 12px 0;
					font-size: 18px;
					display: block;
					transition: .3s;
					&:hover{
						background: #0A1E33;
						color: #ccfef0;
					}
				}
			}
		}
		.wrapper-slider-feedback{
			position: relative;
			.slider-feedback{
			@media (max-width: 768px) {
				margin-left: -15px;
				margin-right: -15px;
			}
				.feedback-slide{
					display: grid;
					grid-template-columns: auto 288px;
					grid-row-gap: 16px;
					@media (max-width: 768px) {
						grid-template-columns: auto;
						grid-template-rows: 1fr 1fr;
						grid-gap: 0;
					}
					.img{
						background-repeat: no-repeat;
						background-position: center;
						min-height: 100%;
					}
					.card-feedback{
						background-color: #fff;
						padding: 23px;
						display: grid;
						grid-template-columns: auto auto;
						align-items: center;
						h4{
							font-size: 16px;
							font-weight: bold;
							color: #0A1E33;
							grid-area: 1/1/span 1/span 2;
							margin-bottom: 10px;
						}
						.rating_block{
							grid-area: 2/1/3/2;
							width: 140px;
	  							height: 16px;
	  							display: inline-block;
	  							margin-bottom: 12px;
	  							input[type="radio"] {
	 								 display: none;
	 							}
	 							.rating_block input[type="radio"]:checked ~ .label_rating{
	 								svg{
	 									path{
	 										fill: #ffc700;
	 									}
	 								}
	 							}
	 							.label_rating {
								float: right;
								display: block;
								width: 16px;
								height: 16px;
								margin-right: 12px;
								background: url(rating.png) no-repeat 50% 0;
								cursor: pointer;
							}
						}
						.rating_block .label_rating:hover, Правило для ховера на текущий лейбл
						.rating_block .label_rating:hover ~ .label_rating, Правило для всех следующих лейблов по DOM дереву
						.rating_block input[type="radio"]:checked ~ .label_rating Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались
						{
						  background-position: 50% -25px;
						}
						span{
							grid-area: 2/2/3/3;
							text-align: right;
							font-size: 14px;
							color: rgba(10, 30, 51, 0.8);
						}
						p{
							grid-area: 3/1/span 1/span 2;
							font-size: 16px;
							line-height: 24px;
							margin-bottom: 15px;
							height: 313px;
							overflow: hidden;
						}
						a{
							text-decoration: underline;
							color: #007DFF;					
						}
					}
				}
			}
			.arrows-slider-feedback{
				@media (max-width: 992px) {
					display: none;
				}
				.prew-feedback{
					position: absolute;
					top: 50%;
					margin-top: -40px;	
					left: -40px;
					width: 80px;
					height: 80px;
					background: #E6ECF2;
					border-radius: 50px;
					transition: .2s;
					svg{
						position: relative;
						top: 30px;
						left: 25px;
					}
					&:hover{
						box-shadow: 0 0 5px #aaa;
						transform: scale(1.1);
					}
				}
				.next-feedback{
					position: absolute;
					top: 50%;
					margin-top: -40px;	
					right: -40px;
					width: 80px;
					height: 80px;
					background: #E6ECF2;
					border-radius: 50px;
					transition: .2s;
					svg{
						position: relative;
						top: 30px;
						left: 25px;
					}
					&:hover{
						box-shadow: 0 0 5px #aaa;
						transform: scale(1.1);
					}
				}
			}
		}
	}
	section.news-articles{
		.block-top{
			padding-top: 37px;
			padding-bottom: 18px;
			display: grid;
			align-items: center;
			grid-template-columns: auto auto;
			h2{
				font-family: Montserrat;
				font-weight: 800;
				font-size: 40px;
				line-height: 49px;
				display: inline-block;
				@media (max-width: 768px) {
					font-size: 24px;
					font-weight: normal;
					font-family: 'PT Sans';
				}
			}
			.view-all{
				justify-self: end;
				width: 240px;
				border: 1px solid #0A1E33;
				border-radius: 4px;
				text-align: center;
				@media (max-width: 768px){
					display: none;
				}
				a{
					padding: 12px 0;
					display: block;
					font-size: 18px;
					transition: .3s;
					&:hover{
						background: #0A1E33;
						color: #ccfef0;
					}
				}
			}
		}
		.wrapper-block-cards-news{
			@media (max-width: 768px) {
				margin-left: -15px;
				margin-right: -15px;
			}
			.block-cards-news{
				.card{
					margin-right: 8px;
					margin-left: 8px;
					background-color: #fff;
					border-radius: 4px;
					@media (max-width: 490px) {
						margin-left: 0;
						margin-right: 0;
					}
					.img{
						width: 100%;
						height: 288px;
						position: relative;
						background-position: right center;
						background-repeat: no-repeat;
						background-size: cover;
						.title-news{
							display: grid;
							align-items: center;
							position: absolute;
							bottom: 24px;
							left: 24px;
							width: 124px;
							height: 24px;
							background: #007DFF;
							border-radius: 2px;
							font-size: 14px;
							color: #fff;
							text-align: center;
						}
						.articles{
							background: #62BDA4;
						}
					}
					.subtitles{
						padding: 13px 24px 31px;
						height: 112px;
						display: grid;
						grid-template-columns: auto 35px 20px;
						overflow: hidden;
						position: relative;
						h4{
							color: #000;
							font-weight: bold;
							font-size: 16px;
							grid-area: 1/1/span 1/ span 3;
							margin-bottom: 7px;
						}
						.data{
							font-size: 14px;
							font-weight: normal;
							color: rgba(10, 30, 51, 0.8);
						}
						.counter{
							
						}
					}
					a{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						cursor: pointer;
					}
				}
			}
		}
		.view-all-bottom{
			display: none;
			@media (max-width: 768px) {
				display: block;
			}
			a{
				width: 240px;
				height: 48px;
				display: grid;
				align-items: center;
				text-align: center;
				border-radius: 4px;
				border: 1px solid rgba(10, 30, 51, 0.8);
				margin: 0 auto;
				margin-top: 58px;
			}
		}
	}
}