*{
	font-family: 'PT Sans', sans-serif;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
.wrapper{
	max-width: 1440px;
	.wrapper-header{
		padding-top: 16px;
		padding-bottom: 14px;
		background-color: #fff;
		filter: drop-shadow(0 8px 16px rgba(10, 30, 51, 0.1));
		position: relative;
		z-index: 1;
		.block-logo-info{
			margin: 0 auto;
			max-width: 1200px;
			display: grid;
			grid-template-columns: auto auto auto;
			grid-row-gap: 18px;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 1200px) {
				grid-template-columns: auto auto;
			}
			@media (max-width: 992px) {
				grid-template-columns: auto auto;
			}
			@media (max-width: 768px) {
				grid-template-columns: repeat(3,auto);
				justify-content: space-between;
			}
			@media (max-width: 612px) {
				grid-template-columns: auto auto;
			}
			.burger-menu{
				display: none;
				text-align: left;
				@media (max-width: 768px) {
					display: block;
					grid-area: 1/1/2/2;
				}
			}
			.logo{
				position: relative;
				width: 242px;
				height: 40px;
				img:first-child{
					position: absolute;
					left: 0;
					@media (max-width: 450px) {
						display: none;
					}
				}
				img:last-child{
					position: absolute;
					bottom: 8px;
					right: 0;
				}
				@media (max-width: 612px) {
					justify-self: end;
				}
			}
			.block-info{
				max-width: 440px;
				font-size: 14px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				flex: 2 1 150px;
				div{
					display: inline-block;
					/* outline: 1px dashed red; */
					p{
						display: inline-block;
					}
				}
				@media (max-width: 1200px) {
					grid-area: 2/1/3/-1;
					max-width: 100%;
					display: grid;
					grid-template-columns: auto auto;
					 div:nth-child(even){
						text-align: right;
					}
				}
				@media (max-width: 720px) {
					grid-area: 2/1/span 1/-1;
				}
				/* @media (max-width: 450px) {
					div{
						display: block;
						width: 100%;
					}
				} */
				@media (max-width: 450px) {
					/* width: 100%; */
					/* text-align: justify; */
				}
				@media (max-width: 450px) {
					grid-template-columns: 100%;
					& div:nth-child(1){
						p{
							float: left;
						}
						a{
							float: right;
						}
					}
				}
				@media (max-width: 450px) {
					& div:nth-child(2){
						display: none;
					}
				}
				@media (max-width: 450px) {
					& div:nth-child(3){
						display: none;
					}
				}
				@media (max-width: 450px) {
					& div:nth-child(4){
						display: none;
					}
				}
				span{
						font-weight: bold;
				}
				& div:nth-child(1){
					font-size: 18px;
					color: #0A1E33;
					p{
						display: inline-block;
					}
				}
				& div:nth-child(2){
					font-size: 18px;
					color: #0A1E33;
				}
				& div:nth-child(3){
					color: rgba(10, 30, 51, 0.6);
					p{
						display: inline-block;
					}
				}
				& div:nth-child(4){	
					padding-left: 16px;
					a{
						color: #007FFF;
						position: relative;
						text-decoration: underline;
						span{
							position: absolute;
							left: -15px;
							top: 1px;
						}
					}				
				}
			}
			.button-measurer{
				justify-self: end;
				a{
					display: block;
					color: #E6ECF2;
					text-align: center;
					width: 240px;
					background-color: #007DFF;
					padding-top: 12px;
					padding-bottom: 12px;
					border-radius: 4px;
					transition: all .1s ease;
					&:hover{
						background: #1CADFF;
					}
					&:active{
						background: #004F9F;
					}
				}
				@media (max-width: 720px) {
				}
				@media (max-width: 612px) {
					display: none;
				}
			}
		}
		.divider{
			width: 100%;
			height: 1px;
			margin: 16px 0 14px;
			background-color: rgba(10, 30, 51, 0.2);
			@media (max-width: 768px) {
				display: none;
			}
		}
		.menu{
			position: relative;
			z-index: 1;
			.cross{
				position: absolute;
				right: 21px;
				top: 21px;
				display: none;
				z-index: 10000;
				svg{
					top: 21px;
					right: 21px;
				}
			}
			ul{
				text-align: left;
				max-width: 950px;
				margin: 0 auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li{
					position: relative;
					z-index: 1;
					padding: 0;
					margin: 0;
					transition: all .5s ease;
					cursor: pointer;
					a{
						padding: 0 15px;
						position: relative;
						display: block;
					}
					a.arrow-down{
						padding: 0;
						border: 3px solid transparent;	
						border-top: 3px solid rgba(10, 30, 51, 0.6);
						position: absolute;
						right: 0;
						top: 12px;
					}
					&:hover{
						ul{
							max-height: 800px;
							max-width: 500px;
							overflow: visible;
						}
					}
					ul{
						display: inline-block;
						position: absolute;
						left: 0;
						width: 240px;
						max-height: 0;
						max-width: 0;
						padding-top: 14px;
						overflow: hidden;
						transition: all .2s ease-in-out;
						li{
							background-color: rgba(35, 35, 35, 0.95);
							overflow: hidden;
							height: 100%;
							a{
								transition: all .2s ease;
								display: block;
								padding: 12px 15px;
								color: #E6ECF2;
								&:hover{
									background-color: #1CADFF;
								}
								&:active{
									background-color: #004F9F;
								}

							}
							&:last-child a{
								margin: 0;
							}
						}
					}
					a{
						color: rgba(10, 30, 51, 0.6);
						font-size: 18px;
					}
				}
			}
			@media (max-width: 768px) {
				.cross{	display: inline-block; }
				display: none;
				float: left;
				position: absolute;
				z-index: 10;
				top: 0;
				left: 0;
				width: 320px;
				background: rgba(35, 35, 35, 0.95);
				> ul{
					background-color: inherit;
					position: absolute;
					display: inline-block;
					float: left;
					width: 100%;
					max-height: 0;
					transition: .5s;
					overflow: hidden;
					>li{
						display: inline-block;
						float: left;
						width: 100%;
						text-align: left;
						padding: 10px 20px;
						&:first-child{padding-top: 26px;	}
						&:last-child{ padding-bottom: 26px;	}
						&:hover ul{
							max-height: 1000px;
							opacity: 1;
						}
						a{
							color: #fff;
							padding: 0;
							font-size: 24px;
							line-height: 32px;
						}
						ul{
							display: inline-block;
							position: static;
							width: 100%;
							float: left;
							text-align: left;
							max-width: none;
							max-height: 0;
							opacity: 0;
							overflow: hidden;
							background-color: transparent;
							li{
								background-color: transparent;
								display: inline-block;
								float: left;
								width: 100%;
								overflow: hidden;
								line-height: 0;
								a{
									padding: 5px 10px;
									width: 100%;
									height: 100%;
									display: block;
									font-size: 20px;
									line-height: 1;
								}
							}
						}
						a.arrow-down{
							border-top: 3px solid rgba(255, 255, 255, 1);
							right: 26px;
							top: 26px;
						}
					}
				}
			}
			@media (max-width: 375px) {	width: 100%;	}
		}
		.show-menu{	display: inline-block; }
	}
}
