section.news-section{
	background: #E6ECF2;
	padding: 28px 120px 80px;
	@media (max-width: 768px) {
		padding-left: 0;
		padding-right: 0;
	}

	h1{
		font-family: Montserrat;
		font-weight: 800;
		font-size: 64px;
		line-height: 68px;
		color: #0A1E33;
		margin: 0;
		margin-top: 8px;
		margin-bottom: 28px;
		@media (max-width: 768px) {
			margin-left: 12px;
			margin-bottom: 15px;
			font-family: 'PT Sans';
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
		}
	}
	.wrapper-news, .wrapper-articles{
		h2{
			font-family: Montserrat;
			font-style: normal;
			font-weight: 800;
			line-height: normal;
			font-size: 40px;
			color: #0A1E33;
			margin-bottom: 10px;
			@media (max-width: 992px) {
				display: none;
			}
		}
		.block-news{
			.main-card{
				border-radius: 4px;
				background-color: #fff;
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;
				margin-bottom: 17px;
				@media (max-width: 992px) {
					grid-template-columns: auto;
					grid-template-rows: 400px auto;
				}
				.img{
					height: 100%;
					width: auto;
					margin-top: -4px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					border-radius: 4px 0 0 4px;
				}
				.text{
					padding: 40px 60px 40px 40px;
					@media (max-width: 992px) {
						padding: 15px 20px 42px 12px;
					}
					h3{
						font-family: PT Sans;
						font-style: normal;
						font-weight: bold;
						line-height: 32px;
						font-size: 24px;
						margin-bottom: 5px;
					}
					p{
						line-height: 24px;
						font-size: 16px;
						margin-bottom: 42px;
						@media (max-width: 768px) {
							margin-bottom: 24px;
						}
					}
					.block-down{
						display: grid;
						align-items: center;
						justify-items: end;
						grid-template-columns: 124px 74px auto;
						.button-main-card{
							a{
								display: block;
								padding-top: 1px;
								color: #0A1E33;
								font-size: 14px;
								background-color: #fff;
								width: 124px;
								height: 24px;
								border-radius: 4px;
								border: 1px solid rgba(10, 30, 51, 0.8);
								text-align: center;
								transition: .3s;
								&:hover{
									background: #0A1E33;
									color: #ccfef0;
								}
							}
						}
					}
				}
			}
			.block-cards{
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
				grid-gap: 16px;
				margin-bottom: 24px;
				.card{
					position: relative;
					background-color: #fff;
					display: grid;
					grid-template-rows: auto auto;
					border-radius: 4px;
					transition: .3s;
					&:hover{
						transform: scale(1.03);
					}
					.img{
						border-radius: 4px 4px 0 0;
						height: 288px;
						background-position: center;
						background-size: cover;
						position: relative;
						.button-news{
							width: 124px;
							height: 24px;
							text-align: center;
							padding-top: 1px;
							position: absolute;
							bottom: 24px;
							left: 24px;
							background: #007DFF;
							border-radius: 2px;
							color: #fff;
						}
					}
					.text{
						padding: 13px 24px 31px;
						h4{
							font-weight: bold;
							line-height: normal;
							font-size: 16px;
							color: #000000;
							margin-bottom: 7px;
						}
						.bottom-block{
							display: grid;
							grid-template-columns: auto 27px 16px;
							align-items: center;
							span{
								font-size: 14px;
								color: rgba(10, 30, 51, 0.8);
							}
						}
					}
					a{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}
				}
				.display-none{
					@media (max-width: 570px) {
						display: none;
					}
				}
			}
		}
		.button{
			a{
				text-align: center;
				border-radius: 4px;
				margin: 24px auto 0;
				display: block;
				width: 240px;
				border: 1px solid #0A1E33;
				padding: 12px 20px;
				color: #0A1E33;
				transition: .3s;
				&:hover{
					background: #0A1E33;
					color: #ccfef0;
				}
				@media (max-width: 768px) {
					margin-top: 37px;
				}
			}
		}
	}
	.wrapper-articles{
		margin-top: 28px;
		h2{
			display: block;
			@media (max-width: 768px) {
				font-family: PT Sans;
				font-style: normal;
				font-weight: normal;
				line-height: 32px;
				font-size: 24px;
				color: #0A1E33;
				margin-left: 12px;
			}
		}
	}
}