section.windows-section{
	background: #E6ECF2;
	padding-top: 28px;
	padding-bottom: 80px;
	padding: 28px 120px 80px;
	@media (max-width: 768px) {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 61px;
	}
	ul{
		@media (max-width: 1200px) {
			margin-left: 12px;
		}
		li{
			display: inline-block;
			a{
				text-decoration: underline;
				color: #007DFF;
			}
			&::before{
				text-decoration: none;
				content: "\00B7";
				color: #007DFF; 
				margin-right: 4px;
			}
			&:first-child::before{
				display: none;
			}
			&:last-child::before{
				color: #0A1E33;
			}
		}
	}
	h1{
		font-family: Montserrat;
		font-weight: 800;
		font-size: 64px;
		line-height: 68px;
		color: #0A1E33;
		margin: 0;
		margin-top: 8px;
		margin-bottom: 28px;
		@media (max-width: 1200px) {
			margin-left: 12px;
			margin-bottom: 15px;
			font-family: 'PT Sans';
			font-weight: normal;
			font-size: 24px;
			line-height: 32px;
		}
	}
	.wrapper-windows{
		background-color: #fff;
		min-height: 2028px;
		padding: 112px 188px;
		@media (max-width: 768px) {
			padding: 12px;
		}
		form{
			h3{
				font-size: 24px;
				line-height: 32px;
				color: #0A1E33;
				margin-bottom: 8px;
				@media (max-width: 768px) {
					font-size: 24px;
					line-height: 32px;
					font-weight: normal;
				}
			}
			.radio-buttons{
				border-radius: 4px;
				border: 1px solid rgba(10, 30, 51, 0.8);
				width: 320px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				justify-items: center;
				align-items: center;
				height: 48px;
				label{
					background-color: #fff;
					text-align: center;
					display: grid;
					align-items: center;
					width: 100%;
					height: 100%;
					border-radius: 4px;
					span{
						padding-top: 11px;
						color: rgba(10, 30, 51, 0.8);
						font-size: 18px;
						width: 100%;
						height: 100%;
					}
					input[type=radio]:checked+span{
						background-color: #007DFF;
					}
				}
				
				@media (max-width: 450px) {
					width: 305px;
				}
			}
		}
	}
}