<div class="electrical-bg" style="background-image: url(../images/electrical-1.png);" data-stellar-background-ratio="0.5"></div>
<header class="header" id="header">
    <div class="top-strip">
        <div class="container">
            <div class="container-wrapper">
                <ul>
                    <li>
                    	<a href="#">Услуги и цены<span><i class="fas fa-chevron-down"></i></span></a>
                    	<!-- <ul>
                    		<li><a href="#">test-One</a></li>
                    		<li><a href="#">test--Two</a></li>
                    		<li><a href="#">test---Three</a></li>
                    		<li><a href="#">test----Fore</a></li>
                    	</ul> -->
                    </li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <div class="btn-free">
                    <a href="#"><span><img src="../images/iconmonstr-pencil-9-240.png" alt=""></span>Бесплатная диагностика</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-strip">
        <div class="container">
            <div class="logo"><a href="#"><img src="../images/logo.png" alt=""></a></div>
            <div class="schedule">
                <p><img src="../images/ic-location.png" alt="">Челябинск, ул. Цвиллинга, д. 57</p>
                <p><img src="../images/ic-time.png" alt="">Будни: 9:00-18:00, Сб: 9:00-17:00</p>
            </div>
            <div class="phone-number"><a href="tel:+79043006600"><img src="../images/phone.png" alt="">+7 904 300 66 00</a></div>
            <div class="consultation">
                <a href="#">Нужна консультация?</a>
            </div>
        </div>
    </div>
</header>
