footer{
	padding: 40px;
	background: #051D35;
	color: #fff;
	text-align: center;
}
.logo-footer{
	float: left;
}
.logo-footer img{
	float: left;
	width: 50px;
}
.logo-footer p{
	display: inline-block;
	font-size: 10px;
	margin-top: 3px;
	margin-left: 13px;
	text-transform: uppercase;
}
.logo-footer span{
	font-size: 20px;
}
.copyrights{
	width: 550px;
	display: inline-block;
}
.copyrights p{
	text-align: left;
}
.follow{
	float: right;
	text-align: left;
}
.follow p{
	margin-bottom: 10px;
}
.box-social img{
	width: 36px;
	margin-right: 5px;
}