h2,h3,h4{user-select: none};
.header{
	padding: 5px 0;
	color: #fff;
	border-bottom: 2px solid red;
	position: fixed;
	z-index: 8000;
	width: 100%;
	#header-wrapper{
		display: grid;
		align-items: center;
		grid-template-columns: 1fr auto 1fr auto;
		@media (max-width: 500px) {
			grid-template-columns: auto 1fr auto;
		}
		.logo{
			a{
				display: grid;
				&:hover img{
					box-shadow: 0 0 5px #fff;
				}
				img{
					display: inline-block;
					align-self: center;
					border-radius: 3px;
					transition: .2s;
				}
			}
		}
		.links-pizzas-drinks{
			display: grid;
			grid-template-columns: auto auto;
			grid-column-gap: 16px;
			align-items: center;
			@media (max-width: 650px) {
				padding-left: 20px;
			}
			@media (max-width: 500px) {
				display: none;
			}
			a{
				display: grid;
				grid-template-columns: auto auto;
				align-items: center;
				&:hover{
					img{
						transform: scale(1.2);
					}
					p{
						text-shadow: 0 0 4px #fff;
						text-decoration: underline;
					}
				}
				p{
					width: 80px;
					text-align: right;
					margin-right: 6px;
					font-family: 'Indie Flower', cursive;
					line-height: 14px;
					font-weight: normal;
					transition: .2s;
					@media (max-width: 992px) {
						display: none;
					}
				}
				img{
					transition: .2s;
					height: 50px;
					width: auto;
				}
			}
		}
		.block-social{
			justify-self: end;
			align-self: center;
			margin-right: 40px;
			@media (max-width: 380px) {
				display: none;
			}
			a{
				display: grid;
				grid-template-columns: auto auto;
				align-items: center;
				&:hover img{
					transform: scale(1.2);
				}
				p{
					font-family: 'Indie Flower', cursive;
					text-align: right;
					color: #475993;
					line-height: 16px;
					align-self: center;
					user-select: none;
					@media (max-width: 650px) {
						display: none;
					}
				}
				img{
					width: 30px;
					height: 30px;
					margin-left: 10px;
					transition: .1s;
				}							
			}
		}
		.block-tel{
			display: grid;
			align-self: center;
			display: inline-grid;
			grid-column-gap: 20px;
			@media (max-width: 500px) {
				justify-items: end;
			}
			a{
				color: #fff;
				display: block;
				font-size: 17px;
				transition: .2s;
				@media (max-width: 650px) {
					font-size: 16px;
					line-height: 20px;
				}
				&:hover{
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}
	}
}