@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: tahoma, arial, sans-serif;
}
#wrapper{
	max-width: 1920px;
	margin: 0 auto;
}
#header{
	position: relative;
	background: url(imgs/bg-header.jpg) no-repeat center;
	width: 100%;
	-webkit-background-size: contain;
	background-size: cover;
	display: inline-block;
	min-height: 842px;
}
.img-leftPanel{
	position: absolute;
	background: url(imgs/img-leftPanel.png) no-repeat;
	width: 316px;
	height: 100%;
	left: 0;
}
.img-rightPanel{
	position: absolute;
	background: url(imgs/img-RightPanel.png) no-repeat;
	width: 316px;
	height: 100%;
	right: 0;
}
.left{
	display: inline-block;
	width: 100%;
}
.logo-header{
	width: 156px;
	height: 119px;
	display: inline-block;
}

/* =====CONTAINER-GRID======= */




@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 860px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
} 
@media (min-width: 1300px) {
  .container {
    max-width: 1230px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}
/* ========SECTION======= */

.section{
	padding-top: 70px;
	padding-bottom: 90px;
	background: #f4f4f4;
}
.title-delivery{
	background: url(imgs/wave.png);
	margin-bottom: 20px;
	background-repeat: repeat-x;
	background-position: center;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.title-delivery>h2{
	display: inline-block;
	padding: 0 20px;
	background: #f4f4f4;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}

.img-drop{
	display: inline-block;
	background: url(imgs/drop.png) no-repeat center;
	height: 32px;
	width: 100%;
}
.block-main{
	margin-top: 50px;
	width: 100%;
	display: inline-block;
}
.section .block-main-left{
	display: inline-block;
	float: left;
	width: 45%;
	padding-right: 40px;
	/* height: 330px; */
	/* display: inline-block; */
	/* position: relative; */
}
.section .block-main-right{
	display: inline-block;
	float: left;
	width: 55%;
	/* height: 330px; */
	/* display: inline-block; */
	/* position: relative; */
}
.img img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.button-order-delivery{
	background: #35a629;
	border-radius: 50px;
	/* margin-top: 25px; */
	padding: 15px 25px;
	display: inline-block;
}
.button-order-delivery a{
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}
.title-right h3{
	display: inline-block;
	margin-bottom: 40px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: lighter;
}
.price{
	display: inline-block;
	width: 100%;
	padding: 14px;
	background: #fff;
	border-radius: 5px;
}
.price p{
	font-size: 18px;
	font-weight: bold;
	width: 70%;	
	display: inline-block;
}
.price-1, .price-2{
	margin-bottom: 10px;	
}
.sum{
	width: 28%;
	display: inline-block;
	text-align: right;
	font-size: 18px;
	color: #35a629;
}
.comment{
	margin-top: 50px;
	font-size: .9rem;
}

@media (max-width: 992px) {
	.section .block-main-left, .section .block-main-right{
		width: 100%;
		display: inline-block;
		float: none;
	}
	.section .block-main-left{
		text-align: center;
	}
	.section .block-main-right{
		margin-top: 100px;
	}
	.title-right{
		text-align: center;
	}
}

/* =======FOOTER======== */

#footer{
	height: 100px;
	background: #35a629;
}
.drop-footer{
	background: url(imgs/wave.png);
	width: 100%;
	height: 100%;
}