@font-face {
    font-family: "MyriadWebPro";
    src: url("fonts/MyriadWebPro/MyriadWebPro.eot");
    src: url("fonts/MyriadWebPro/MyriadWebPro.eot?#iefix") format("embedded-opentype"),
    url("fonts/MyriadWebPro/MyriadWebPro.woff") format("woff"),
    url("fonts/MyriadWebPro/MyriadWebPro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}