.footer {
	width: 100%;
	margin: -235px auto 0;
	height: 235px;
	background: #fff;
	position: relative;
}
.footer-main-bg{
	background: url(../images/footer-bg.jpg);
	height: 193px;
}
.footer-bottom-strip{
	background: url(../images/footer-bottom-strip.png) no-repeat bottom right;
	height: 100%;
	outline: 1px dashed red;
}