.footer {
	width: 100%;
	background: #fff;
	position: relative;
	.footer-main-bg{
		height: 100%;
		width: 100%;
		text-align: center;
		overflow: hidden;
		.emblem{
			padding-top: 36px;
			padding-bottom: 70px;
			background: url(../images/footer-emblem.png) no-repeat top left;
			background-size: contain;
			@media(max-width: 700px){
				background-size: cover;
			}
			.footer-menu{ 
				text-align: center;
				.sitemap{
					p{
						color: #d8071f;
						text-transform: uppercase;
						margin-right: 5px;
						display: inline-block;						
					}
					ul{
						display: inline-block;
						li:last-child a{
							border: none;
						}
						a{
							color: #fff;
							display: block;
							padding-right: 10px;
							margin-right: 6px;
							border-right: 1px solid #fff;
						}
					}
				}
				.kontakt{
					margin-top: 12px;
					p{
						color: #d8071f;
						text-transform: uppercase;
						margin-right: 5px;
						display: inline-block;						
					}
					ul{
						display: inline-block;
						li,a{
						color: #fff;
						}
						li:first-child{
							text-transform: uppercase;
						}
						li::after{
							content: "\2022";
							padding-left: 10px;
							padding-right: 7px;
						}
						li:last-child::after{
							content: '';
						}
					}					
				}
				.copyright{
					margin-top: 30px;
					li{
						color: #fff;
					}
					li:first-child{
						border-right: 1px solid #fff;
						padding-right: 10px;
						margin-right: 5px;
					}
				}
			}
		}
	}
	.footer-bottom-strip{
		max-width: 1800px;
		overflow: hidden;
		height: 60px;
		width: 100%;
		position: absolute;
		bottom: 0;

		/* background-repeat: no-repeat;
		background-position: bottom right; */
	
		.fb img{
			position: absolute;
			right: 390px;
			bottom: 28px;
		}
		.xing img{
			position: absolute;
			right: 312px;
			bottom: 28px;
		}
	}
}
