.line-max{
	max-width: 100%;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 0 #fff;
}

/* *************************************** */
/* ========-SLIDER-========== */

section.slider{
	padding-top: 25px;
	.wrapper-block-slider{
		position: relative;
		z-index: 1;
		.white-tringle{
			width: 0;
			border: 50px solid transparent;	
			border-right: 50px solid #fff; 
			border-bottom: 50px solid #fff;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
			.block-arrows{
				position: absolute;
				right: -40px;
				bottom: -50px;
				z-index: 1;
				span{
					float: left;
					margin-right: 5px;
					color: #555;
					font-size: 55px;
					cursor: pointer;
					user-select: none;
				}
			}
		}
		.block-slider{
			background: #fff;
			position: relative;
			border: 1px solid #eee;
			box-shadow: 0 3px 2px #ccc;
			.wr-slide{
				display: none;
				&:first-child{
					display: block;
				};
				.bg-slide{
					min-height: 294px;	
					max-width: 1178px;
					margin: 12px;
					position: relative;
					.dark-block{
						width: 390px;
						background: rgba(0,0,0,.5);
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						padding: 28px 20px;
						color: #fff;
						h1{
							text-align: left;
							font-size: 25px;
							font-family: MyriadWebPro;
							font-weight: bold;
							text-transform: uppercase;
							margin: 0;
							padding: 0;
							letter-spacing: 1.4px;
							color: #fff;
						}
						h2{
							font-size: 19px;
							font-family: MyriadWebPro;
							font-weight: normal;
							text-transform: uppercase;
							margin-bottom: 25px;
						}
						p{
							font-size: 15px;
							line-height: 24px;
							letter-spacing: .5px;
							padding-bottom: 50px;
						}
						@media (max-width: 768px) {
							width: 100%;
							padding: 15px;
						}
						@media (max-width: 400px) {	
							h1{
								font-size: 18px;
							}
							h2{
								font-size: 16px;
							}
							p{
								line-height: 18px;
							}
						}
					}
				}
			}	
		}
	}
}

/* *************************************** */
/* ========-HOME-========== */

section.services{
	padding: 100px 0;
	.container{
		.block-boxes{
			grid-template-columns: 1.1fr 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-gap: 1px;
			.box-pointer{
				position: relative;
				min-height: 250px;
				background: #fff;
				display: grid;
				width: 100%;
				padding-bottom: 62px;
				.title-services{
					align-self: center;
					h1{
						padding: 20px;
						font-size: 29px;
						font-weight: normal;
						width: 270px;
						color: #525658;
						line-height: 45px;
					}
				}
				h2{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 62px;
					line-height: 62px;
					padding-left: 20px;
					background: #ddd;
					font-size: 19px;
					font-weight: normal;
					color: #5d6062;
					background: #f3f3f3;

				}
				.arrow-pointer{
					background: #e8e9e9;
					position: absolute;
					right: 0;
					bottom: 0;
					height: 62px;
					width: 77px;
					padding-top: 11px;
					text-align: center;
					img{
						@media (max-width:532px) {
						transform: rotate(90deg);
						}
					}
				}
			}
			.box{
				padding: 16px;
				min-height: 250px;
				background: #eaeaea;
				position: relative;
				display: grid;
				text-align: center;
				grid-template-rows: 1fr	1fr;
				img{
					align-self: center;
					justify-self: center; 
				}
				.discription{
					display: grid;
					h2{
						color: #c51828;
						text-transform: uppercase;
						font-size: 18px;
						font-weight: lighter;
					}
					p{
						color: #525658;
					}
				}
				a{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
			@media (max-width: 1200px) {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
			@media (max-width: 532px) {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
			}
		}
	}
}
section.bottom{
	background: #ebecec;
	text-align: center;
	h1{
		padding-top: 74px;
		margin: 0;
		color: #525658;
		font-weight: bold;
		font-size: 28px;
		text-transform: uppercase;
		letter-spacing: 1px;
		@media (max-width: 600px) {
			font-size: 26px;
		}
	}
	h2{
		font-size: 16px;
		color: #5c6062;
		text-transform: uppercase;
		font-weight: lighter;
		padding-top: 6px;
		margin: 0;
	}
	.line-355{
		max-width: 355px;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 1px 1px #fff;
		margin: 37px auto;
	}
	.block-columns{
		padding-bottom: 100px;
		.column-text{
			width: 68%;
			display: inline-block;
			column-count: 2;
			column-gap: 60px;
			@media (max-width: 1300px) {
				column-count: 1;
				width: 100%;
				padding: 0 20px;
			}
			p{
				text-align: justify;
				font-size: 14px;
				font-weight: normal;
				color: #525658;
				line-height: 37px;
				word-spacing: 1.3px;
			}
		}
		.column-img{
			display: inline-block;
			margin: 0;
			padding: 0;
			text-align: right;
			margin-left: 30px;
			/* @media (max-width: 1300px) {
				max-width: 100%;
			} */
			img{
				border-radius: 12px;
				margin-bottom: 10px;
				@media (max-width: 1300px) {
					margin-top: 40px;
					max-width: 100%;
				}
			}
			p{
				padding-right: 8px;
				font-style: italic;
				color: #525658;
				font-size: 14px;		
			}
		}
	}
}

/* *************************************** */
/* ========-UBER-========== */

section.slider{
	h1{
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
		margin: 0;
		padding-top: 70px;
		color: #525658;
	}
	h3{
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		padding-top: 4px;
		padding-bottom: 52px;
		color: #cd2c39;
	}
}
section.download{
	width: 100%;
	background: #ebebeb;
	padding-bottom: 75px;
	box-shadow: 0 2px 0 rgba(10,10,10,.2);
	position: relative;
	z-index: 100;
	.line-max{
		margin-bottom: 56px;
	}
	.container{
		.block-inner{
			p{
				display: inline-block;
				color: #525658;
				column-count: 2;
				column-gap: 35px;
				font-size: 14px;
				line-height: 37px;
				text-align: justify;
				min-height: 690px;
				width: 60%;
				@media (max-width: 1200px) {
					width: 100%;
					column-count: 1;
				}
				@media (max-width: 700px) {
					padding: 0 20px;
				}
			}
			.block-download{
				float: right;
				width: 380px;
				@media (max-width: 1200px) {
					float: none;
					width: 100%;
					display: grid;
					grid-template-columns: 1fr 1fr;
					padding-top: 30px;
				}
				@media (max-width: 700px) {
					grid-template-columns: 1fr;
					grid-template-rows: auto auto;
				}
				ul{
					background: #f2f2f1;
					padding: 35px 14px;
					@media (max-width: 1200px) {
						max-width: 380px;
					}
					@media (max-width: 700px) {
						margin: 0 auto;
					}
					li{
						display: block;
						line-height: 37px;
						font-size: 14px;
						color: #525658;
						&:before{
							content: "\25c6";
							font-size: 12px;
							color: #c50b1b;
							margin-right: 10px;
						}
					}
				}
				.line-separator{
					border-bottom: 1px solid #ccc;
					box-shadow: 0 1px 1px #fff;
					margin: 35px auto;
					@media (max-width: 1200px) {
						display: none;
					}
				}
				.buttons-download{
					text-align: center;
					@media (max-width: 1200px) {
						align-self: center;
						padding-left: 20px;
					}
					@media (max-width: 700px) {
						margin-top: 40px;
						padding: 0 20px;
					}
					a{
						display: block;
						height: 81px;
						margin-bottom: 30px;
						img{
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}

/* *************************************** */
/* ========--LEISTUNGSPORTFOLIO--========== */

section.slider{
	.ul-menu{
		text-align: center;
		margin: 10px 0 44px;
		ul{
			display: flex;
			justify-content: center;
			li{
				border-right: 1px solid #525658;
				&:last-child{
					border-right: none;
				}
				a{
					align-self: center;
					font-size: 14px;
					display: block;
					padding: 0 8px;
					color: #525658;
					&:hover{
						font-weight: bold;
						color: #c60b1b;
					}
				}
			}
		}
	}
}
section.cards{
	background: #ebebeb;
	padding-bottom: 75px;
	box-shadow: 0 4px 0 rgba(10,10,10,.2);
	position: relative;
	z-index: 100;
	.block-cards{
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-gap: 54px;
		@media (max-width: 1300px) {
			grid-template-columns: repeat(3,1fr);
		}
		@media (max-width: 998px) {
			grid-template-columns: repeat(2,1fr)
		}
		@media (max-width: 600px) {
			grid-template-columns: 1fr;
		}
		.card{
			padding: 64px 0;
			width: 260px;
			margin: 0 auto;
			img{
				width: 100%;
				padding: 10px;
				border: 1px solid #adadad;
			}
			h3{
				font-size: 16px;
				padding: 20px 0 10px;
				text-transform: uppercase;
				color: #3c3c3b;
			}
			p.disc{
				font-size: 14px;
				color: #575756;
				text-align: justify;
				line-height: 28px;
				padding-bottom: 45px;
			}
			.down-block{
				p{
					border-right: 2px solid #939393;
					color: #575756;
					display: inline-block;
					padding-right: 18px;
					margin-bottom: 18px;
				}
				img.quotes{
					height: 20px;
					width: 20px;
					padding: 0;
					border: 0;
					position: relative;
					top: 5px;
					left: 15px;
				}
				img.eye{
					height: 20px;
					width: 28px;
					padding: 0;
					border: 0;
					position: relative;
					top: 5px;
					left: 30px;
				}
			}
		}
	}
}

/* *************************************** */
/* ========--ANSPRECHPARTNER--========== */

.main-titile{
	h1{
		font-size: 29px;
	}
	h3.max{
		color: #525658;
		padding: 0;
	}
	.line-ihr{
	max-width: 355px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 1px #fff;
	margin: 37px auto;
	}
	p.anspre{
		color: #525658;
		column-count: 3;
		column-gap: 50px;
		text-align: justify;
		font-size: 14px;
		padding-bottom: 50px;
		line-height: 37px;
		word-spacing: .3px;
		@media (max-width: 1200px) {
			column-count: 2;
		}
		@media (max-width: 800px) {
			column-count: 1;
			line-height: 25px;
		}
		span{
			color: #bd0c1a;
		}
	}
}
section.portrait{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #ebebeb;
	box-shadow: 0 2px 0 rgba(10,10,10,.2);
	position: relative;
	z-index: 100;
	.container{
		.wrapper-squares{
			max-width: 600px;
			text-align: center;
			display: grid;
			grid-gap: 130px;
			grid-template-columns: 1fr 1fr;
			margin: 0 auto;
			padding-top: 100px;
			padding-bottom: 60px;
			@media (max-width: 715px) {
				grid-template-columns: auto;
			}
			.wr-sq{
				text-align: center;
				&:hover{
					.square{
						transition: all .5s ease;
						background: linear-gradient(to right, 
							rgba(143,14,14,1) 0%, 
							rgba(224,5,31,1) 49%, 
							rgba(30,33,34,1) 51%, 
							rgba(121,126,129,1) 100%);
						filter:none;
						opacity: 1;
					}
					.text p{
						color: #525658;
						font-weight: bold;
						transition: all .5s ease;
						a{
							color: #525658;
						}
					}
				}
				.text{
					padding-top: 50px;
					p{
						width: 200px;
						font-size: 14px;
						margin: 0 auto;
						color: #a5a7a7;
						font-weight: normal;
						a{
							font-weight: normal;
							color: #a5a7a7;
							font-style: italic;
						}
					}
				}
				
				.square{
					position: relative;
					width: 200px;
					height: 200px;
					background: #fff;
					transform: rotate(-45deg);
					display: inline-block;
					filter: grayscale(100%);
					filter: gray;
					opacity: .5;
					box-shadow: -1px 1px 0px #ccc;
					.cube1,.cube2{
						position: absolute;
						width: 14px;
						height: 18px;
						background: #ebebeb;
						z-index: 100;
					}
					.cube1{
					  right: 93px;
					  bottom: -2px;
					}
					.cube2{
					  right: 93px;
					  top: -2px;
					}
					.layer{
					  background: #ebebeb;
					  width: 172px;
					  height: 172px;
					  position: absolute;
					  left: 14px;
					  top: 14px;
					  box-shadow: 1px -1px 0px #ccc;
					  .wrapper-port{
						  width: 142px;
						  height: 142px;
						  overflow: hidden;
						  position: relative;
						  position: absolute;
						  left: 15px;
						  top: 15px;
						  .portrait-left{
							  background: url(../images/potter1.jpg) no-repeat center;
							  width: 200px;
							  height: 200px;
							  position: absolute;
							  margin: -29px;
							  background-size: cover;
							  transform: rotate(45deg);
							  float: left;
							}
							.portrait-right{
							  background: url(../images/volan.jpg) no-repeat center;
							  width: 200px;
							  height: 200px;
							  position: absolute;
							  margin: -29px;
							  background-size: cover;
							  transform: rotate(45deg);
							  float: right;
							}
						}
					}
				}
			}
		}
	}
}