.line-max{
	max-width: 100%;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 0 #fff;
}

/* *************************************** */
/* ========-SLIDER-========== */

section.slider{
	padding-top: 25px;
	.wrapper-block-slider{
		position: relative;
		z-index: 1;
		.white-tringle{
			width: 0;
			border: 50px solid transparent;	
			border-right: 50px solid #fff; 
			border-bottom: 50px solid #fff;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
			.block-arrows{
				position: absolute;
				right: -40px;
				bottom: -50px;
				z-index: 1;
				span{
					float: left;
					margin-right: 5px;
					color: #555;
					font-size: 55px;
					cursor: pointer;
					user-select: none;
				}
			}
		}
		.block-slider{
			background: #fff;
			position: relative;
			border: 1px solid #eee;
			box-shadow: 0 3px 2px #ccc;
			.wr-slide{
				display: none;
				&:first-child{
					display: block;
				};
				.bg-slide{
					min-height: 294px;	
					max-width: 1178px;
					margin: 12px;
					position: relative;
					.dark-block{
						width: 390px;
						background: rgba(0,0,0,.5);
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						padding: 28px 20px;
						color: #fff;
						h1{
							text-align: left;
							font-size: 25px;
							font-family: MyriadWebPro;
							font-weight: bold;
							text-transform: uppercase;
							margin: 0;
							padding: 0;
							letter-spacing: 1.4px;
							color: #fff;
						}
						h2{
							font-size: 19px;
							font-family: MyriadWebPro;
							font-weight: normal;
							text-transform: uppercase;
							margin-bottom: 25px;
						}
						p{
							font-size: 15px;
							line-height: 24px;
							letter-spacing: .5px;
							padding-bottom: 50px;
						}
						@media (max-width: 768px) {
							width: 100%;
							padding: 15px;
						}
						@media (max-width: 400px) {	
							h1{
								font-size: 18px;
							}
							h2{
								font-size: 16px;
							}
							p{
								line-height: 18px;
							}
						}
					}
				}
			}	
		}
	}
}

/* *************************************** */
/* ========-HOME-========== */

section.services{
	padding: 100px 0;
	.container{
		.block-boxes{
			grid-template-columns: 1.1fr 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-gap: 1px;
			.box-pointer{
				position: relative;
				min-height: 250px;
				background: #fff;
				display: grid;
				width: 100%;
				padding-bottom: 62px;
				.title-services{
					align-self: center;
					h1{
						padding: 20px;
						font-size: 29px;
						font-weight: normal;
						width: 270px;
						color: #525658;
						line-height: 45px;
					}
				}
				h2{
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 62px;
					line-height: 62px;
					padding-left: 20px;
					background: #ddd;
					font-size: 19px;
					font-weight: normal;
					color: #5d6062;
					background: #f3f3f3;

				}
				.arrow-pointer{
					background: #e8e9e9;
					position: absolute;
					right: 0;
					bottom: 0;
					height: 62px;
					width: 77px;
					padding-top: 11px;
					text-align: center;
					img{
						@media (max-width:532px) {
						transform: rotate(90deg);
						}
					}
				}
			}
			.box{
				padding: 16px;
				min-height: 250px;
				background: #eaeaea;
				position: relative;
				display: grid;
				text-align: center;
				grid-template-rows: 1fr	1fr;
				img{
					align-self: center;
					justify-self: center; 
				}
				.discription{
					display: grid;
					h2{
						color: #c51828;
						text-transform: uppercase;
						font-size: 18px;
						font-weight: lighter;
					}
					p{
						color: #525658;
					}
				}
				a{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
			@media (max-width: 1200px) {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
			@media (max-width: 532px) {
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
			}
		}
	}
}
section.bottom{
	background: #ebecec;
	text-align: center;
	h1{
		padding-top: 74px;
		margin: 0;
		color: #525658;
		font-weight: bold;
		font-size: 28px;
		text-transform: uppercase;
		letter-spacing: 1px;
		@media (max-width: 600px) {
			font-size: 26px;
		}
	}
	h2{
		font-size: 16px;
		color: #5c6062;
		text-transform: uppercase;
		font-weight: lighter;
		padding-top: 6px;
		margin: 0;
	}
	.line-355{
		max-width: 355px;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 1px 1px #fff;
		margin: 37px auto;
	}
	.block-columns{
		padding-bottom: 100px;
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 60px;
		@media (max-width: 700px) {
			grid-template-columns: auto;
			padding-bottom: 50px;
		}
		.column-text{
			column-count: 2;
			column-gap: 60px;
			@media (max-width: 1300px) {
				column-count: 1;
				width: 100%;
			}
			p{
				text-align: justify;
				font-size: 14px;
				font-weight: normal;
				color: #525658;
				line-height: 37px;
				word-spacing: 1.3px;
			}
		}
		.column-img{
			text-align: center;
			img{
				border-radius: 12px;
				margin-bottom: 10px;
				max-width: 100%;
			}
			p{
				font-style: italic;
				color: #525658;
				font-size: 14px;		
			}
		}
	}
}

// ===========MAIN-TITLE==============
.main-titile{
	color: #525658;
	padding-bottom: 40px;
}

/* *************************************** */
/* ========-UBER-========== */

section.slider{
	h1{
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
		margin: 0;
		padding-top: 70px;
		color: #525658;
	}
	h3{
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		padding-top: 4px;
		padding-bottom: 52px;
		color: #cd2c39;
	}
}
section.download{
	width: 100%;
	background: #ebebeb;
	padding-bottom: 75px;
	box-shadow: 0 2px 0 rgba(10,10,10,.2);
	position: relative;
	z-index: 100;
	.line-max{
		margin-bottom: 56px;
	}
	.container{
		.block-inner{
			display: grid;
			grid-gap: 35px;
			grid-template-columns: auto auto;
			@media (max-width: 1200px) {
				grid-template-columns: auto;
			}
			.block-text{
				p{
					color: #525658;
					column-count: 2;
					column-gap: 35px;
					font-size: 14px;
					line-height: 37px;
					text-align: justify;
					min-height: 690px;
					@media (max-width: 1200px) {
						width: 100%;
						column-count: 1;
					}
					@media (max-width: 700px) {
						padding: 0 20px;
					}
				}
			}
			.block-download{
				float: right;
				width: 380px;
				@media (max-width: 1200px) {
					float: none;
					width: 100%;
					display: grid;
					grid-template-columns: 1fr 1fr;
					padding-top: 30px;
				}
				@media (max-width: 992px) {
					grid-template-columns: 1fr;
					grid-template-rows: auto auto;
				}
				ul{
					background: #f2f2f1;
					padding: 35px 14px;
					@media (max-width: 1200px) {
						max-width: 380px;
					}
					@media (max-width: 992px){
						max-width: 100%;
					}
					li{
						display: block;
						line-height: 37px;
						font-size: 14px;
						color: #525658;
						&:before{
							content: "\25c6";
							font-size: 12px;
							color: #c50b1b;
							margin-right: 10px;
						}
					}
				}
				.line-separator{
					border-bottom: 1px solid #ccc;
					box-shadow: 0 1px 1px #fff;
					margin: 35px auto;
					@media (max-width: 1200px) {
						display: none;
					}
				}
				.buttons-download{
					text-align: center;
					max-height: 200px;
					overflow-y: auto;
					@media (max-width: 1200px) {
						align-self: center;
						padding-left: 20px;
					}
					@media (max-width: 992px) {
						padding-top: 40px;
						padding-left: 0;
						max-height: 100%;
						overflow: none;
					}
					.wrapper-button{
						user-select: none;
						/* cursor: pointer; */
						padding: 5px 5px 5px 18px;
						display: inline-block;
						margin-bottom: 20px;
						background-color: rgba(150,150,150,.3);
						box-shadow: inset 1px 1px 3px 0px rgba(111,111,111,.5);
						border-radius: 50px;
						position: relative;
						margin-right: 7px;
						@media (max-width: 405px) {
							padding: 0 6px 0 18px;
						}
						&:active{
							box-shadow: inset 3px 3px 10px 0px rgba(111,111,111,1);
							/* .red-button{
								top: 1px;
								left: 1px;
							} */
						}
						.red-button{
							background: url(../images/button-download.png);
							background-repeat: no-repeat;
							background-position: center;
							width: 100%;
							height: 100%;
							background-size: contain;
							width: 313px;
							height: 70px;
							position: relative;
							/* outline: 1px dashed blue; */
							text-align: left;
							@media (max-width: 405px) {
								width: 230px;
							}
							.block-title{
								/* outline: 1px dashed red; */
								@media (max-width: 405px) {
									padding-top: 23px;
									padding-left: 20px;
								}
								text-align: left;
								padding-top: 19px;
								padding-left: 30px;
								width: 48%;
								display: inline-block;
								p.title-download{
									@media (max-width: 405px) {
										font-size: 9px;
									}
									font-size: 13px;
									color: #e5e5e5;
									text-transform: uppercase;
									letter-spacing: .5px;
									text-shadow: 2px 2px 1px #000;
								}
								p.down{
									@media (max-width: 405px) {
										font-size: 10px;
									}
									color: #000;
									font-size: 11px;
									font-weight: bold;
									letter-spacing: .6px;
									text-shadow: 1px 1px 1px #888;
									text-transform: uppercase;
								}
							}
							.block-size{
								width: 52%;
								float: right;
								padding-top: 20px;
								padding-left: 10px;
								@media (max-width: 405px) {
									padding-top: 25px;
								}
								p.size-mb{
									@media (max-width: 405px) {
										font-size: 14px;
									}
									/* position: absolute;
									top: 25px;
									left: 185px; */
									font-size: 21px;
									font-weight: bold;
									color: #e5e5e5;
									text-transform: uppercase;
									letter-spacing: 1px;
									text-shadow: 2px 2px 1px #000;
									span{
										font-size: 11px;
									}
								}
							}
						}
						a{
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							border-right: 50px;
						}
					}
				}
			}
		}
	}
}

/* *************************************** */
/* ========--LEISTUNGSPORTFOLIO--========== */

section.slider{
	.ul-menu{
		text-align: center;
		margin: 10px 0 44px;
		ul{
			display: flex;
			justify-content: center;
			li{
				border-right: 1px solid #525658;
				&:last-child{
					border-right: none;
				}
				&.active a{
					font-weight: bold;
					color: #c60b1b;
				}
				a{
					align-self: center;
					font-size: 14px;
					display: block;
					padding: 0 8px;
					color: #525658;
					&:hover{
						font-weight: bold;
						color: #c60b1b;
					}
				}
			}
		}
	}
}
section.cards{
	background: #ebebeb;
	box-shadow: 0 4px 0 rgba(10,10,10,.2);
	.block-cards{
		padding-top: 64px;
		padding-bottom: 130px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
		grid-gap: 115px 53px;
		justify-content: center;
		.card{
			.pic{
				img{
					width: 100%;
					padding: 10px;
					border: 1px solid #adadad;
				}
			}
			.block-text{
				padding: 0 8px;
				display: grid;
				align-items: center;
				grid-template-columns: 148px auto 50px;
				h3{
					font-size: 14px;
					font-weight: bold;
					padding: 14px 0 4px;
					text-transform: uppercase;
					color: #3c3c3b;
					grid-area: 1/1/2/-1;
				}
				p{
					font-size: 14px;
					color: #575756;
					line-height: 26px;
					padding-bottom: 45px;
					text-align: justify;
					font-weight: normal;
					grid-area: 2/1/3/-1;
				}
				a>h4{
					font-size: 14px;
					font-weight: normal;
					border-right: 2px solid #939393;
					color: #575756;
					padding-right: 18px;
					font-weight: normal;
				}
				a{
					justify-self: end;
					display: grid;
					align-items: center;
				}
			}
			.line{
				max-width: 100%;
				border-bottom: 1px solid #ccc;
				box-shadow: 0 1px 0 #fff;
				padding-top: 12px;
			}
		}
	}
}

/* *************************************** */
/* ========--ANSPRECHPARTNER--========== */

.main-titile{
	h1{
		font-size: 29px;
	}
	h3.max{
		color: #525658;
		padding: 0;
	}
	.line-ihr{
	max-width: 355px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 1px #fff;
	margin: 37px auto;
	}
	p{
		color: #525658;
		column-count: 3;
		column-gap: 50px;
		text-align: justify;
		font-size: 14px;
		padding-bottom: 50px;
		line-height: 37px;
		word-spacing: .3px;
		@media (max-width: 1200px) {
			column-count: 2;
		}
		@media (max-width: 800px) {
			column-count: 1;
			line-height: 25px;
		}
		span{
			color: #bd0c1a;
		}
	}
}
section.portrait{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #ebebeb;
	box-shadow: 0 2px 0 rgba(10,10,10,.2);
	position: relative;
	z-index: 100;
	.container{
		.wrapper-squares{
			text-align: center;
			max-width: 700px;
			display: grid;
			grid-template-columns: auto auto;
			grid-gap: 70px;
			justify-items: center;
			margin: 0 auto;
			padding-top: 100px;
			padding-bottom: 60px;
			@media (max-width: 715px) {
				grid-template-columns: auto;
			}
			.wr-sq{
				text-align: center;
				cursor: pointer;
				user-select: none;
				&:hover{
					.square{
						transition: all .5s ease;
						background: linear-gradient(to right, 
							rgba(143,14,14,1) 0%, 
							rgba(224,5,31,1) 49%, 
							rgba(30,33,34,1) 51%, 
							rgba(121,126,129,1) 100%);
						filter:none;
						opacity: 1;
					}
					.text p{
						color: #525658;
						font-weight: bold;
						a{
							color: #525658;
						}
					}
				}
				.text{
					padding-top: 50px;
					p{
						width: 200px;
						font-size: 14px;
						margin: 0 auto;
						color: #a5a7a7;
						font-weight: normal;
						a{
							font-weight: normal;
							color: #a5a7a7;
							font-style: italic;
						}
					}
				}
				.square{
					position: relative;
					width: 200px;
					height: 200px;
					background: #fff;
					transform: rotate(-45deg);
					display: inline-block;
					filter: grayscale(100%);
					filter: gray;
					opacity: .5;
					box-shadow: -1px 1px 0px #ccc;
					.cube1,.cube2{
						position: absolute;
						width: 14px;
						height: 18px;
						background: #ebebeb;
						z-index: 100;
					}
					.cube1{
					  right: 93px;
					  bottom: -2px;
					}
					.cube2{
					  right: 93px;
					  top: -2px;
					}
					.layer{
					  background: #ebebeb;
					  width: 172px;
					  height: 172px;
					  position: absolute;
					  left: 14px;
					  top: 14px;
					  box-shadow: 1px -1px 0px #ccc;
					  .wrapper-port{
						  width: 142px;
						  height: 142px;
						  overflow: hidden;
						  position: relative;
						  position: absolute;
						  left: 15px;
						  top: 15px;
						  .portrait-1{
							  width: 200px;
							  height: 200px;
							  position: absolute;
							  margin: -29px;
							  transform: rotate(45deg);
							  float: left;
							}
							.portrait-2{
							  width: 200px;
							  height: 200px;
							  position: absolute;
							  margin: -29px;
							  transform: rotate(45deg);
							  float: right;
							}
						}
					}
				}
			}
		}
	}
}

/* *************************************** */
/* ========--ANFAHRT--========== */

.main-titile{
	text-align: center;
	h1{
		padding-bottom: 5px;
	}
	.ul-menu-anfahrt{
		display: grid;
		grid-row-gap: 8px;
		color: #525658;
		padding-bottom: 40px;
		.one, .two {
			h4{
				display: inline-block;
				font-weight: normal;
			}
			ul{
				display: inline-block;
				li{
					color: #525658;
					&:after{
						padding: 8px;
						content: "\2022";
					}
					&:first-child:after, &:last-child:after{
						content: " ";
					}
				}
			}
		}
	}
}

section.navigation{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #ebebeb;
	box-shadow: 0 2px 0 rgba(10,10,10,.2);
	position: relative;
	z-index: 100;
}
.wrapper-navigation{
	padding: 70px 10px 105px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"adress map"
	"text map";
	grid-gap: 35px 40px;
	@media (max-width: 1199px) {
		grid-template-columns: 1fr;
		/* grid-template-rows: auto 100% auto; */
		grid-template-areas: 
		"adress"
		"map"
		"text"
	}
	.block-adress{
		grid-area: adress;
		.form{
			text-align: left;
			form{
				input{
					margin-right: 8px;
					margin-bottom: 8px;
					font-size: 13px;
					padding: 6px 10px;
					border-radius: 5px;
					border: none;
					box-shadow: 0 1px 1px #555;
					background: #f8f8f8;
					width: 240px;
				}
				button{
					margin: 5px;
					padding: 5px;
					text-transform: uppercase;
					font-weight: bold;
					border-radius: 5px;
					background: #f1f1f1;
					border: none;
					box-shadow: 0 1px 1px #555;
				}
			}
			@media (max-width: 480px) {
				text-align: left;
			}
		}
	}
	.block-map{
		grid-area: map;
		border: 5px solid #d9d9d9;
		border-radius: 6px;
		.map{
			position: relative;
			width: 100%;
			min-height: 400px;
			overflow: hidden;
			box-shadow: 0px 0px 4px rgba(111,111,111,.8);
			iframe{
				min-height: 100%;
				width: 100%;
			}
		}
	}
	.block-text{
		display: grid;
		grid-area: text;
		grid-gap: 30px;
		text-align: left;
		p{
			line-height: 28px;
			color: #525658;
			font-size: 13px;
		}
	}
}

/* *************************************** */
/* ========--KONTAKT--========== */
.kont-text{
	p{
		text-align: center;
		column-count: 1;
		padding: 0;
	}
}
section.kontakt{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #ebebeb;
	box-shadow: 0 2px 0 rgba(10,10,10,.2);
	position: relative;
	z-index: 100;
	.block-kontakt{
		text-align: center;
		h4{
			font-size: 13px;
			text-transform: uppercase;
			padding-bottom: 44px;
		}
		padding: 76px 20px 134px;
		display: grid;
		grid-column-gap: 50px;
		grid-template-columns: minmax(190px, 380px) auto;
		@media (max-width: 992px) {
			grid-template-columns: 1fr;
		}
		.anschrift{
			@media (max-width: 992px) {
				width: 100%;
				grid-area: 2/1/2/2;
			}
			.inner-ans{
				width: 190px;
				text-align: right;
				@media (max-width: 992px) {
					width: 100%;
					text-align: left;
				}
				p{
					color: #000;
					font-size: 13px;
					line-height: 24px;
					a{
						transition: all .1s ease;
						&:hover{
							color: #c70a1c;
							text-shadow: 0 0 1px #c70a1c;
						}						
					}
				}
			}
		}
		.kontaktformular{
			display: grid;
			text-align: left;
			form{
				.wpforms-field-container{
					display: grid;
					grid-template-columns: minmax(300px,380px) minmax(280px,380px);
					grid-column-gap: 42px;
					@media (max-width: 720px) {
						grid-template-columns: 1fr;
					}
					div{
							min-width: 260px;
							height: 56px;						
						input{
							color: #525658;
							width: 100%;
							padding: 8px 22px;
							border-radius: 3px;
							border: none;
							box-shadow: 0 1px 1px #555;
							font-size: 14px;
						}
						label{
							font-size: 12px;
							color: red;
							opacity: .6;
						}
					}
					div:last-child{
						grid-area: 1/2/5/3;
						margin-bottom: 20px;
						@media (max-width: 720px){
							grid-area: 5/1/span 1/span 1;
						}
						textarea{
							padding: 8px 12px;
							color: #525658;
							width: 100%;
							min-height: 200px;
							resize: none;
							border-radius: 3px;
							border: none;
							box-shadow: 0 1px 1px #555;
							font-size: 14px;
						}
					}
				}
				.submit{
					text-align: right;
					button{
						background: #fff;
						color: #444444;
						font-size: 14px;
						margin-top: 10px;
						padding: 6px 22px;
						border-radius: 3px;
						border: none;
						box-shadow: 0 1px 1px #555;
					}
				}
			}
		}
	}
}
.red-color{
	color: #c70a1c;
}

/* *************************************** */
/* ========--IMPRESSUM--========== */

.impressum-titile{
	p{
		color: #525658;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 50px;
		margin-top: 5px;
		font-size: 14px;
	}
}
section.impressum{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #ebebeb;
	box-shadow: 0 2px 0 rgba(10,10,10,.2);
	position: relative;
	z-index: 100;
	.impressum-articles{
		text-align: center;
		padding: 85px 0 190px;
		:nth-child(4){
			margin-top: 105px;
		}
		@media (max-width: 700px) {
			padding-bottom: 100px;
		}
		h2{
			text-transform: uppercase;
			margin-bottom: 50px;
			color: #3c3c3b;
			font-weight: bold;
			font-size: 15px;
		}
		p{
			color: #484847;
			font-size: 15px;
			text-align: center;
			@media (max-width: 700px) {
				text-align: justify;
			}
		}
	}
}