	<footer class="footer clearfix">
		<div class="wrapper">
			<div class="container">
				<div class="block-footer-content">
					<div class="logo">
						<a href="#">
							<img src="../images/logo-pic.svg" alt="logo">
							<img src="../images/logo-title.svg" alt="logo">
						</a>
					</div>
					<div class="block-towns-tel">
						<p>Томск</p><p><a href="tel:83822525500">8 3822 <span>52-55-00</span></a></p>
						<p>Северск</p><p><a href="tel:83823533377">8 3823 <span>53-33-77</span></a></p>
						<p>Томск</p><p><a href="tel:83822525500">8 3822 <span>52-55-00</span></a></p>
						<p>Северск</p><p><a href="tel:83823533377">8 3823 <span>53-33-77</span></a></p>
					</div>
					<div class="schedule">
						<p>Пн-пт</p><p><span>10:00 - 19:00</span></p>
						<p>сб</p><p><span>10:00 - 15:00</span></p>
						<p>вс</p><p><span>выходной</span></p>
					</div>
					<div class="block-contact-details">
						<p>8-903-955-71-27</p>
						<a href="mailto:landwill_plus@mail.ru">landwill_plus@mail.ru</a>
						<p>634000, Томск, пр. Комсомольский, 77</p>
					</div>
					<div class="block-social-icons">
						<a href="#"><img src="../images/icon-ok.svg" alt="odnoklassniki"></a>
						<a href="#"><img src="../images/icon-fb.svg" alt="facebook"></a>
						<a href="#"><img src="../images/icon-insta.svg" alt="instagram"></a>
						<a href="#"><img src="../images/icon-vk.svg" alt="vkontakte"></a>
					</div>
					<div class="button-become-client">
						<a href="#become_customer">Стать клиентом</a>
					</div>
				</div>
				<div class="copyrights">
					<p>&copy; Landwill, 2018 - пластиковые окна в Томске</p>
				</div>
			</div>
		</div>
	</footer>

	<div class="modal-form" style="display: none;">
		<div id="order_measurements" class = "measurements-block">
			<h2>Заказать замер</h2>
			<form action="#" method="GET" id = "measurements">
				<div class="input-block">
					<input name = "firstname" type="text" placeholder="Ваше имя" required>
				</div>
				<div class="input-block">
					<input name = "phone" type="number" placeholder="Ваш номер телефона" required>
				</div>
				<div class="textarea-block">
					<textarea name="text" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="button-block">
					<button type = "submit">Заказать</button>
				</div>
			</form>
		</div>
		<div id="call_measurer" class = "measurements-block">
			<h2>Вызвать замерщика</h2>
			<form action="#" method="GET" id = "measurer">
				<div class="input-block">
					<input name = "firstname" type="text" placeholder="Ваше имя" required>
				</div>
				<div class="input-block">
					<input name = "phone" type="number" placeholder="Ваш номер телефона" required>
				</div>
				<div class="textarea-block">
					<textarea name="text" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="button-block">
					<button type = "submit">Вызвать</button>
				</div>
			</form>
		</div>
		<div id="request_call" class = "measurements-block">
			<h2>Заказать звонок</h2>
			<form action="#" method="GET" id = "request">
				<div class="input-block">
					<input name = "firstname" type="text" placeholder="Ваше имя" required>
				</div>
				<div class="input-block">
					<input name = "phone" type="number" placeholder="Ваш номер телефона" required>
				</div>
				<div class="textarea-block">
					<textarea name="text" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="button-block">
					<button type = "submit">Заказать</button>
				</div>
			</form>
		</div>
		<div id="become_customer" class = "measurements-block">
			<h2>Стать клиентом</h2>
			<form action="#" method="GET" id = "customer">
				<div class="input-block">
					<input name = "firstname" type="text" placeholder="Ваше имя" required>
				</div>
				<div class="input-block">
					<input name = "phone" type="number" placeholder="Ваш номер телефона" required>
				</div>
				<div class="textarea-block">
					<textarea name="text" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="button-block">
					<button type = "submit">Подать заявку</button>
				</div>
			</form>
		</div>

		<div id="order-window" class = "measurements-block">
			<h2>Ваш заказ.</h2>
			<form action="#" method="GET" id = "price-order">
				<div class="parce-choice">
					<div class="name">Veka Euroline</div>
					<input class="price" name = "type-deaf" type="text" disabled>
				</div>
				<div class="parce-choice">
					<div class="name">Veka Softline</div>
					<input class="price" name = "type-folding" type="text" disabled>
				</div>
				<div class="parce-choice">
					<div class="name">WHS Halo 60</div>
					<input class="price" name = "type-swivel"  type="text" disabled>
				</div>
				<div class="parce-bloc">
					<div class="name">Тип окна</div>
					<input type="text" name = "type-name" class = "name-type">
					<input class="type" type="text" id = "type">
				</div>
				<div class="input-block">
					<input name = "firstname" type="text" placeholder="Ваше имя" required>
				</div>
				<div class="input-block">
					<input name = "phone" type="number" placeholder="Ваш номер телефона" required>
				</div>
				<div class="textarea-block">
					<textarea name="text" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="button-block">
					<button type = "submit">Заказать</button>
				</div>
			</form>
		</div>

		<div id="order-balcony" class = "measurements-block">
			<h2>Стать клиентом</h2>
			<form action="#" method="GET" id = "balcony">
				<div class="input-block">
					<input name = "firstname" type="text" placeholder="Ваше имя" required>
				</div>
				<div class="input-block">
					<input name = "phone" type="number" placeholder="Ваш номер телефона" required>
				</div>
				<div class="textarea-block">
					<textarea name="text" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="button-block">
					<button type = "submit">Подать заявку</button>
				</div>
			</form>
		</div>

		<div id="gull_review" class = "measurements-block">
			<h2>Написать отзыв</h2>
			<form action="#" method="GET" id = "review">

				<div class="input-contact">
					<div class="name">
						<input type="name" name = "name" required placeholder="Ваше имя">
					</div>
					<div class="contact">
						<input type="email" name = "email" placeholder="Ваш e-mail">
					</div>
				</div>
				<div class="textarea">
					<textarea name="text" id="" placeholder="Комментарий"></textarea>
				</div>
				<div class="text">
					<p>Нажимая кнопку «Отправить» вы принимаете <a href="#">соглашение об обработке персональных данных</a></p>
				</div>
				<div class="button">
					<button type="submit">Оставить отзыв</button>
				</div>
			</form>
		</div>


	</div>

	<script src="../js/jquery.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/jquery-ui-v1.12.1.js"></script>
	<script src="../js/jquery.fancybox.min.js"></script>
	<script src="../js/jquery.validate.min.js"></script>
	<script src="../js/jquery.formstyler.js"></script>
	<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAsgajRdZv5H2LGoHO8BXbyVZq2CLMZNxE"></script> -->
	<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
	<script src="../js/main.js"></script>
</body>
</html>