	<footer class="footer clearfix">
		<div class="wrapper">
			<div class="container">
				<div class="block-footer-content">
					<div class="logo">
						<a href="#">
							<img src="../images/logo-pic.svg" alt="logo">
							<img src="../images/logo-title.svg" alt="logo">
						</a>
					</div>
					<div class="block-towns-tel">
						<p>Томск</p><p>8 3822 <span>52-55-00</span></p>
						<p>Северск</p><p>8 3823 <span>53-33-77</span></p>
						<p>Томск</p><p>8 3822 <span>52-55-00</span></p>
						<p>Северск</p><p>8 3823 <span>53-33-77</span></p>
					</div>
					<div class="schedule">
						<p>Пн-пт</p><p><span>10:00 - 19:00</span></p>
						<p>сб</p><p><span>10:00 - 15:00</span></p>
						<p>вс</p><p><span>выходной</span></p>
					</div>
					<div class="block-contact-details">
						<p>8-903-955-71-27</p>
						<a href="mailto:landwill_plus@mail.ru">landwill_plus@mail.ru</a>
						<p>634000, Томск, пр. Комсомольский, 77</p>
					</div>
					<div class="block-social-icons">
						<a href="#"><img src="../images/icon-ok.svg" alt="odnoklassniki"></a>
						<a href="#"><img src="../images/icon-fb.svg" alt="facebook"></a>
						<a href="#"><img src="../images/icon-insta.svg" alt="instagram"></a>
						<a href="#"><img src="../images/icon-vk.svg" alt="vkontakte"></a>
					</div>
					<div class="button-become-client">
						<a href="#">Стать клиентом</a>
					</div>
				</div>
				<div class="copyrights">
					<p>&copy; Landwill, 2018 - пластиковые окна в Томске</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery.js"></script>
	<script src="../js/slick.min.js"></script>
	<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAsgajRdZv5H2LGoHO8BXbyVZq2CLMZNxE"></script> -->
	<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
	<script src="../js/main.js"></script>
</body>
</html>