<header class="header">
	<div class="wrapper">
		<div class="wrapper-header">
			<div class="container">
				<div class="block-logo-info">
					<div class="burger-menu" id = "control-menu"><a href="#"><img src="../images/burger-menu.svg" alt="" width="35"></a></div>
					<div class="logo">
						<a href="home.html">
							<img src="../images/logo-pic.svg" alt="img">
							<img src="../images/logo-title.svg" alt="img">
						</a>
					</div>
					<div class="block-info">
						<div><p>Томск &#160;</p><a href="tel:83822525500">8 3822 <span>52-55-00</span></a></div>
						<div><p>Северск &#160;</p><a href="tel:83823533377">8 3823 <span>53-33-77</span></a></div>
						<div>Пн-пт <span>10:00-19:00,</span>&#160; сб <span>10:00-15:00, </span>&#160; вс <span>выходной</span></div>
						<div><a href="#"><span><img src="../images/phone.svg" alt=""></span>Заказать звонок</a></div>
					</div>
					<div class="button-measurer">
						<a href="#">Вызвать замерщика</a>
					</div>
				</div>
				<div class="divider"></div>
				<div class="menu" id = "menu">
					<ul>
						<li><a href="windows.html">Окна</a></li>
						<li><a href="#">Услуги</a>
							<ul>
								<li><a href="#">Установка окон</a></li>
								<li><a href="#">Остекление</a></li>
								<li><a href="#">Услуга</a></li>
							</ul>
							<a href="#" class="arrow-down"></a>
						</li>
						<li><a href="#">Цены</a></li>
						<li><a href="#">Компания</a>
							<ul>
								<li><a href="faq.html">Часто задаваемые вопросы</a></li>
								<li><a href="partners.html">Партнёры</a></li>
								<li><a href="clients.html">Заказчики</a></li>
								<li><a href="certificates.html">Сертификаты и награды</a></li>
								<li><a href="works.html">Выполненные работы</a></li>
							</ul>
							<a href="#" class="arrow-down"></a>
						</li>
						<li><a href="news.html">Новости и статьи</a>
							<ul>
								<li><a href="article.html">Мультифункциональный пакет</a></li>
							</ul>
						</li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
					<div class="cross" id = "clouse-menu">
						<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<rect width="31" height="31" fill="url(#pattern0)"/>
							<defs>
							<pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image0" transform="scale(0.015625)"/>
							</pattern>
							<image id="image0" width="64" height="64" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAACS0lEQVR4nO2aTU9TQRSGB/gzLtmoIIgKYYkSJFTBKhKMoFs/IhqBqH/HhT/FP8GCGPmwRpHLw4IaS5m57bXnzNzbnGfZ9N7zvk8nTTt3nDMMwzAMwzAMo1uAAWAgdQ4JBoteAMw653adc9+Bx/KRCucZBr4An4FLMQbu8I8T4In60HCWy8BeS56vMYa2CkgmAbjSVh7gIMbgu8BxSgnAVWCfi7yLFaCWSgIwEij/SXt2e5DoEoBR4MBT/qPWzE6BokkArgXKf5CeVTSYugRgDDj0lN+WmtETmhKA8UD5LYHocmhIAK5XovxfJCUAE8APT/lNjexiSEgAbgTKv9fMLkYvEoCbQMNTPs6PHCn+RwJwK1D+bczsYhSRAEwCPz3lN1JkF6MbCcBUoPyblNnFyJMATAfKv06dW5QcCb885V+lzqtCQEI7L1PnVKWDhBex8xTeExSg4ZzLPK/jnNuPnCUuwAzwO2f5J91jVAW4HSifdHstCjnlnwP3+loCcAc48hR81vKe/pQAzAbKr3ve218SgLlA+bWca/pDQrP8H0+Rp11cW20JnD048ZUvsiFyv5ISgPley7fcq1oSgIVA+dUe7lkNCTnlVwTuXW4J+P/cZAieHQAWSykB/zd2BiwrzCqXhMDSzIBHijPLIQFYCpR/GGF2Wgk5y74eJYALfgAnaJ9ZAga5eDghAx6oDvZn8Uk4BIY0hw5x/mHlMbCkNrBznnYJugKaQ+ucHU76BtRUh3WXp9bMshdtJVKyg5Jly2MYhmEYhmEYFeAUWreZiUnxDS0AAAAASUVORK5CYII="/>
							</defs>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>