<header class="header">
	<div class="header-cont container">
		<div class="block-left">
			<a href="#"><img src="../images/logo.png" alt="" class="logo"></a>
			<div class="logo-title">
				<p><span class="logo">Drones</span>.rent<br>
				<span class="sub">drones & accessories</span></p>
			</div>
			<div class="block-social">
				<a href="#" class="social"><img src="../images/icon_fb.png" alt=""></a>
				<a href="#" class="social"><img src="../images/icon_twitter.png" alt=""></a>
				<a href="#" class="social"><img src="../images/icon_instagram.png" alt=""></a>
				<a href="#" class="social"><img src="../images/icon_youtube.png" alt=""></a>
			</div>
		</div>	
		<div class="block-right">
			<div class="icon-phone">
				<img src="../images/icon-phone.png" alt="">
			</div>
			<div class="phone">
				<a href="tel:75554555555">+7 555 455-55-55</a><p class="arrow">&#9662</p>
				<div class="list-telefons">
					<ul class="tel">
						<li>
							<a href="tel:+70445462233">+7 044 546-22-33</a>
						</li>
						<li>
							<a href="tel:+70445462244">+7 044 546-22-44</a>
						</li>
						<li>
							<a href="tel:+70445462255">+7 044 546-22-55</a>
						</li>
					</ul>
				</div>
				<p class="call"><a href="#">Call me back!</a></p>
			</div>
			<div class="sign-in">
				<a href="#">Sign In</a>
			</div>
		</div>
		<ul class="menu">
			<li>
				<a href="#">Home</a>
				<a href="#">Products</a>
				<a href="#">Videos</a>
				<a href="#">Accessories</a>
				<a href="#">Contact us</a>
			</li>
		</ul>
		<div class="title-main">
			<h1>Make the sky <br>
			your playground!</h1>
		</div>
		<div class="block-for-button">
			<div class="button-more-information">
				<a href="#">more information</a>
			</div>
		</div>
	</div>
</header>