	<footer class="footer clearfix">
		<div class="wrapper">
			<div class="footer-main-bg">
				<div class="footer-bottom-strip">
					<div class="container">
						<div class="emblem">
							<div class="footer-menu">
								<div class="sitemap">
									<ul>
										<li>Sitemap</li>
										<li><a href="#">Home</a></li>
										<li><a href="#">Über uns</a></li>
										<li><a href="#">Anfahrt</a></li>
										<li><a href="#">Leistungsportfolio</a></li>
										<li><a href="#">Ansprechpartner</a></li>
										<li><a href="#">Kontakt</a></li>
										<li><a href="#">Impressum</a></li>
									</ul>
								</div>
								<div class="kontakt">
									<ul>
										<li>Kontakt</li>
										<li>WIENSENGINEERING</li>
										<li>Entwicklung & Konstruktion</li>
										<li>Firmenstraße 123</li>
										<li>12345 Firmenstadt</li>
										<li>T: 12345 - 67 89 01</li>
										<li>info@wiensengineering.de</li>
									</ul>
								</div>
								<div class="copyright">
									<ul>
										<li>Copyright &copy; 2013 WIENSENGINEERING</li>
										<li>Alle Rechte vorbehalten.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery.js"></script>
	<script src="../js/slick.min.js"></script>
	<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAsgajRdZv5H2LGoHO8BXbyVZq2CLMZNxE"></script> -->
	<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
	<script src="../js/main.js"></script>
</body>
</html>