<header class="header">
	<div class="wrapper">
		<div class="header-top-strip">
			<div class="container">
				<div class="block-right">
					<div class="wr-search">
						<form action="/" method="get">
							<div class="search">
							    <input class="field" type="text" name="s" id="search" value="" placeholder="Suche...">
							    <input class="lupe" type="image" alt="Search" src="../images/loupe.png">
							</div>
						</form>
					</div>
					<ul class="switch">
						<li class="active"><a href="#">De</a></li>
						<li><a href="#">En</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header-midle-strip">
			<div class="container">
				<div class="logo">
					<img src="../images/logo.png" alt="">
				</div>
			</div>
		</div>
		<div class="header-bottom-strip">
			<div class="container">
				<ul>
					<li><a href="home.html">HOME</a></li><!-- 
					 --><li><a href="uber.html">ÜBER UNS</a></li><!-- 
					 --><li><a href="leistungsportfolio.html">LEISTUNGSPORTFOLIO</a></li><!-- 
					 --><li><a href="ansprechpartner.html">ANSPRECHPARTNER</a></li><!-- 
					 --><li><a href="anfahrt.html">ANFAHRT</a></li><!-- 
					 --><li><a href="kontakt.html">KONTAKT</a></li><!-- 
					 --><li><a href="impressum.html">IMPRESSUM</a></li>
				</ul>
			</div>	
		</div>
	</div>
</header>