<footer class="footer clearfix">
    <div class="footer_content container">
         <p class="contacts"><a href="contacts.html">Офіс: м.Старокостянтинів, вул. Миру 17/1 (приміщення магазину "Чайка")</a><br>
            тел. <a href="tel:+380867710710">(068) 77-10-710</a><br>
            тел. <a href="tel:+38038231141">(0382) 3-11-41</a><br></p>
        <p class="copy-owner"><a href="https://youcontrol.com.ua/catalog/company_details/39190376/">&copy; 2014-2019, Благодійний Фонд "У нас чужих дітей не буває",<br>Засновник: Антонюк Іван Володимирович</a></p>
        <p class="copy-coder"><a href="https://www.facebook.com/kijapkin">&copy; 2018, Kijapkin Yuriy (coder)</a></p>
    </div>
</footer>
<script src="../js/jquery.js"></script>
<script src="../js/slick.min.js"></script>
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAsgajRdZv5H2LGoHO8BXbyVZq2CLMZNxE"></script> -->
<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
<script src="../js/main.js"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());
	gtag('config', 'UA-128586716-1');
</script>
</body>

</html>
