<!DOCTYPE html>
<html lang="ru">
<head>
	<title>У нас чужих дітей не буває</title>
	<meta charset="UTF-8">
    <meta name="description" content="Благотворительный фонд У нас чужих детей не бывает" lang="ru">
    <meta name="author" content="Кижапкин Юрий" lang="ru">
    <meta name="keywords" content="благотворительность,хэлп чилдрен,хэлп чилдрэн,помочь детям,help children,helpchildren,благотворительный фонд,у нас чужих детей не бывает,чужих детей не бывает,антонюк,иван,владимирович,старкон,староконстантинов,благодійний фонд,у нас чужих дітей не буває,чужих дітей не буває,благодійність">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico" rel="stylesheet">
	
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-128586716-1"></script>
</head>
<body>
	