<header class="header">
	<div class="top-strip">
		<h1>You Are The Lucky visitor Today!</h1>
	</div>
	<div class="middle-strip">
		<div class="container">
			<div class="wrapper-header">
				<a href="#"><div class="logo"><img src="../images/windows-logo.png" alt=""></div></a>
				<a href="#"><div class="backet"><img src="../images/search.png" alt=""></div></a>
			</div>
		</div>
	</div>
	<div class="bottom-strip">
		<div class="container">
			<div class="wrapper-header">
				<h2>Amazon.com Membership Rewards</h2>
			</div>
		</div>
	</div>
</header>