<header class="header" style="background-color: #3C201A;">
	<div class="container">
		<div id="header-wrapper">
			<div class="logo">
				<a href="#"><img src="../images/logo-pizza.png" alt="logo"></a>
			</div>
			<div class="links-pizzas-drinks">
				<a href="#section-drinks"><img src="../images/coctail-8.png" alt=""></a>
				<a href="#section-pizzas"><img src="../images/pizza-link.png" alt=""></a>
			</div>
			<div class="block-social">
					<p>мы в <br/>фейсбуке</p>
					<a href="https://www.facebook.com/pizza.bravissimo" target="_blank"><img src="../images/facebook.png" alt=""></a>
			</div>
			<div class="block-tel">
				<a href="tel:+380685957172">+38 (068) 595 71 72</a>
				<a href="tel:+380660829029">+38 (066) 082 90 29</a>
				<a href="tel:+380730703900">+38 (073) 070 39 00</a>
			</div>
		</div>
	</div>
</header>